.av_couses{
    h2{
        @include font(30px, $font-semibold, $font--color-primary_1, 600, 65px);
    }
    .row:nth-child(1){
        position:relative;
        padding-top:115px;
        border-bottom: 1.5px solid $border--color-primary_2;
    }
    .btn--card{ a{
        color:white;
        :hover{
            color:white;
            text-decoration:none;
        }
    }
    position:relative;
    top:15px;
    }
}

.list{
    margin-top: 20px;
}
.list-box{
    min-width: 300px;
}
.connect-us>h4,.connect-us-bottom>h4{
    color: $font--color-primary_1;
    text-align: center;
}
.connect-us>h4{
    margin-top: 15px;
}
.connect-us-bottom>h4{
    // padding-top: 15px;
}
.list-box > a, .connect-us>a{
    color: $font--color-primary_1;
    text-decoration: none;
    font-size: 18px;
    &:hover{
        cursor: pointer;
        color:$font--color-primary_4;
        text-decoration: none;
    }
}
.connect-us{
    width: 300px;
    height: 250px;
    border: 2px $bgc--color-primary_9 solid;
    // margin-top: 30px;
    margin-bottom: 30px;
}
.connect-us>a>i {
    margin: 10px 15px;
}
.connect-us-bottom{
    width: 300px;
    height: 250px;
    background-color: rgb(230, 230, 230);
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.available_courses{
    padding: 7px;
    margin: 0px auto 15px;
    width: auto;
    background: #f4f7f8;
    border-radius: 8px;
    width: 200px;
    border: white;
}
.connect-us-bottom>p{
    margin-top: 10px;
}