.edit{
  padding-bottom: 0;
    h2{
        @include font(30px, $font-semibold, $font--color-primary_1, 400, 30px);
    }
    .wrap {
        // margin-top: 150px;
        // perspective: 1000px;
        // perspective-origin: 50% 50%;
        .cube {
            // margin: auto;
            position: relative;
            cursor: pointer;
            height: 50px;
            width: 50px;
            transform-style: preserve-3d;
            animation: rotate 20s infinite linear;
            .front {
                transform: translateZ(0px);
              }
              
              .back {
                transform: translateZ(-50px) rotateY(180deg);
              }
              
              .right {
                transform: rotateY(-270deg) translateX(50px);
                transform-origin: top right;
              }
              
              .left {
                transform: rotateY(270deg) translateX(-50px);
                transform-origin: center left;
              }
              
              .top {
                transform: rotateX(-270deg) translateY(-50px);
                transform-origin: top center;
              }
              
              .bottom {
                transform: rotateX(270deg) translateY(50px);
                transform-origin: bottom center;
              }
              @keyframes rotate {
                from {
                  transform: rotateX(0deg) rotateY(0deg);
                }
                
                to {
                  transform: rotateX(360deg) rotateY(360deg);
                }
              }
              
             
          }
          
          .cube > div {
            position: absolute;
            box-sizing: border-box;
            padding: 10px;
            height: 100%;
            width: 100%;
            opacity: 0.9;
            background-color: #000;
            border: solid 1px #eeeeee;
            color: #ffffff;
            transition: transform 0.2s ease-in;
          }
        &:hover{
            .front {
                transform: translateZ(200px);
              }
            .back {
                transform: translateZ(-200px) rotateY(180deg);
              }
            .right {
                transform: rotateY(-270deg) translateZ(50px) translateX(100px);
              }
              
            .left {
                transform: rotateY(270deg) translateZ(50px) translateX(-100px);
              }
              
            .top {
                transform: rotateX(-270deg) translateZ(50px) translateY(-50px);
              }
              
            .bottom {
                transform: rotateX(270deg) translateZ(50px) translateY(100px);
              }
        }
      }
      hr{
        width: 100%;
        border-bottom: 1.5px solid $bgc--color-primary_9;
        opacity: 0.7;
      }
}
.edit-item{
  padding: 0;
  margin: 15px;
  .personal-info{
    border-right: 1.5px solid $bgc--color-primary_9;
    text-align: center;
    padding: 5px 16px;
    h4{
      font-size: 30px;
    }
    .photo-box{
      overflow: hidden;
    border-radius: 50%;
    padding: -10px;
    width: 65%;
    margin: 20px auto;
    padding: 30px;
      img{
      width: 100%;
      transform: scale(1.6);
      }
    }
    .name{
      @include font(30px, $font-semibold, $font--color-primary_8, 400, 22px);
    }
    span{
      @include font(15px, $font-light, $font--color-primary_5, 400, 1px);
    }
    .personal_item{
      margin: 45px auto;
      display: flex;
      justify-content: center;
      padding: 0;
      .personal_item_cont{
        list-style-type: none;
        display: block;
        text-align: center;
        padding: 0 25px;
        &:nth-child(2){
          border-left: 1px solid $bgc--color-primary_9;
          border-right: 1px solid $bgc--color-primary_9;
        }
        p{
          @include font(14px, $font-regular, $font--color-primary_7, 400, 1px);
        }
        span{
          @include font(12px, $font-light, $font--color-primary_5, 400, 1px);
        }
      }
    }
    .descr-info{
      margin: 43px 10px 0;
      @include font(15px, $font-regular, $font--color-primary_5, 400, 19px);
    }
  }
  .basic-info{
    .btn-box{
      display: flex;
      justify-content: space-between;
    }
  }
}