
footer{
    background-color:  $bgc--color-primary_2;
    text-align: center;
    form{
        background:none;
        position:relative;
        top:-15px;
        button{
            position:relative;
            top:-7px;
        }
    }
}
.footer-top{
    padding:35px 10px 0px 10px;
}
.footer-top i{
    font-size: 25px;
    color: $font--color-primary_3;
}
hr{
    width: 200px;
    border: 0.7px $font--color-primary_3 solid;
}
footer p{
    font-size: 16px;
    color: $font--color-primary_3;    
    line-height: 2;
}
.footer-bottom{
    background-color:  $bgc--color-primary_8;   
}
.footer-bottom i{   
    margin: 10px 15px;
    font-size: 25px;
    color: $font--color-primary_3;    
}
footer .footer{
	padding: 7px;
    margin: 0px auto 15px;
    width: auto;
    background: #f4f7f8;
    border-radius: 8px;
    max-width: 600px;
}
#mail-us{
    margin-bottom: 0;
}