.sl{
	overflow: hidden;
	max-height: 592px;
	.slick-dots{
		padding: 0;
		display: flex;
		justify-content: center;
		list-style-type: none;
		top: 541px;
		position: absolute;
		width: 100%;
		li{
        position: relative;
        border-radius: 50%;
    	display: inline-block;
    	width: 14px;
    	height: 14px;
    	margin: 0 5px;
        padding: 0;
        color: $btn--color-primary_1;
        background: $btn--color-primary_1;
    	cursor: pointer;
			button{
				font-size: 0;
    			line-height: 0;
    			display: block;
    			width: 20px;
    			height: 20px;
    			padding: 5px;
    			cursor: pointer;
    			color: transparent;
   			 	border: 0;
    			outline: none;
				background: transparent;
				&::before{
					content: '';
    				font-size: 22px;
    				line-height: 20px;
   				 	position: absolute;
    				top: 0;
    				left: 0;
    				width: 20px;
    				height: 20px;
    				text-align: center;
    				opacity: .25;
    				color: black;
				}
			}
		}
	}
    .sl__slide{
        position: relative;
        img{
            width: 100%;
            position: relative;
        }
        .sl__text{
            top: 198px;
            left: 104px;
            position: absolute;
            z-index: 99;
            .sl__zag{
                @include font(30px, $font-semibold, $font--color-primary_3, 600, 65px);
            }   
            .sl__desc{
                @include font(18px, $font-regular, $font--color-primary_3, 400, 30px);
                margin: 10px 0;
            }
            button{
                margin: 10px 0;
            }
        }
    }
}
@media (max-width: 768px){  
    .sl{
        .sl__slide{
            .sl__text{
                top: 78px;
                left: 88px;
            }
        }
    }
    
}
@media (max-width: 576px){  
    .sl{
        .sl__slide{
            .sl__text{
                top: 19px;
                left: 11px;
                .sl__zag{
                    @include font(30px, $font-semibold, $font--color-primary_3, 600, 21px);
                }   
                .sl__desc{
                    @include font(14px, $font-regular, $font--color-primary_3, 400, 21px);
                    margin: 12px 0;
                }
            }
        }
    }
    
}