main {
    .main-bg-color {
        padding: 50px 0;
        // background-color: $bgc--color-primary_1;
        .course-title {
            text-align: center;
        }
        .course-item {
            margin-top: 25px;
            img {
                width: 100%;
            }
        }
        .course-btn {
            text-align: center;
            margin-top: 40px;
            :hover{
                text-decoration:none;
                color:$font--color-primary_4;
            }
        }
    }
    .main-bg-color2 {
        padding: 50px 0;
        background-color: $bgc--color-primary_11;
        .teachers-title {
            text-align: center;
            color:$font--color-primary_4;
        }
        .teachers-btn {
            text-align: center;
            margin-top: 40px;
            :hover{
                text-decoration:none;
            }
        }
        .teachers-item {
            margin-top: 25px;
            .teachers-item__img {
                img {
                    width: 100%;
                }
            }
            .teachers-item__about {
                background-color: $bgc--color-primary_10;
                padding: 20px 10px;
                color: $font--color-primary_3;
                h5, h6, p, a {
                    color: $font--color-primary_3;
                }
            }
            &:hover {
                cursor: pointer;
                .teachers-item__about {
                    background-color: $bgc--color-primary_1;
                }
            }
        }   
        .teacher-btn {
            margin-top: 20px;
            position:relative;
            left:10%;
            
        }
        .btn--transparent:hover{
            text-decoration:none;
        }
    }
    .main-bg-color3 {
        background-color: $bgc--color-primary_9;
        padding: 50px 0;
        .testimonials-title {
            text-align: center;
        }
        .testimonials-item {
            .testimonials-item__img {
                border-radius: 50%;
                background-color: $bgc--color-primary_3;
                margin: 0 auto;
                padding: 30px;
                img {
                    width: 100%;
                }
            }
            .testimonials-item__about {
                text-align: center;
                padding: 40px 0;
                h5, p, a {
                    color: $font--color-primary_3;
                }
                p {
                    line-height: 1.6;
                }
            }
        }
        .testimonials-btn {
            text-align: center;
            .btn--main:hover {
                    color: $font--color-primary_3;
                    text-decoration:none;
            }
        }
    }
    .main-bg-color4 {
        padding: 50px 0;
        background-color: $bgc--color-primary_6;
        h2, p {
            text-align: center;
            color: $font--color-primary_1;
        }
        .price-item {
            padding: 50px;
            margin-top: 30px;
            background-color: $bgc--color-primary_1;
            color: $font--color-primary_3;
            border-radius: 8px;
            min-height: 474px;
            text-align: center;
            .price-item__title {
                margin-bottom: 40px;
                @include font(30px, $font-semibold, $font--color-primary_3, 600, 1.5);
            }
            .price-item__pr {
                margin-bottom: 20px;
                .currency {
                    opacity: 0.6;
                    vertical-align: super;
                    font-size: 20px;
                }
            }
            .price-item__desc {
                margin-bottom: 75px;
                p {
                    color: $font--color-primary_3;
                }
                a {
                    color: $font--color-primary_5;
                }
            }
        }
        .price-item2 {
            background-color: $bgc--color-primary_5;
        }
        .price-item3 {
            background-color: $bgc--color-primary_10;
            .price-item__title {
                margin-bottom: 85px;
            }
        }
    }
    .main-bg-color5 {
        padding: 50px 0;
        .blog-title {
            text-align: center;
        }
        .blog-btn {
            text-align: center;
            margin-top: 40px;
            :hover{text-decoration:none;}
            margin-bottom:35px;
        }
        .card-box{
            overflow: hidden;
            border: 1px solid $border--color-primary_1;
            border-radius: 5px;
            margin: 10px 0;
            width: 100%;
            padding: 0;
            &:hover{
                cursor: pointer;
                margin-top: 7px;
                transition: 0.3s ease-in;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                img{
                    width: 100%;
                    transform: scale(1.1);
                    transition: 0.5s ease-in-out;
                }
                .card-box-container{
                    h4{
                        @include font(17px, $font-semibold, $font-color-primary-hover4, 400,24px);
                    }
                    p{
                        @include font(15px, $font-light, $font-color-primary-hover3, 300,24px); 
                    }
                }
            }
            img{
                max-width: 100%;
            }
            .card-box-container{
                padding: 10px 15px;
                h4{
                    @include font(17px, $font-semibold, $font--color-primary_7, 400,24px);
                }
                p{
                    @include font(15px, $font-light, $font--color-primary_6, 300,24px);
                }
                .card-box-item{
                    span{
                        @include font(15px, $font-light, $font--color-primary_6, 300,60px);
                    }
                    i{
                        color: $font--color-primary_6;
                    }
                }
            }
            
        }
    }
}

@media (max-width: 992px) {
    main {
        .main-bg-color4 {
            .price-item {
                padding: 20px;
                min-height: 350px;
                .price-item__title {
                    @include font(20px, $font-semibold, $font--color-primary_3, 600, 1.3);
                }
                .price-item__desc {
                    margin-bottom: 30px;
                }
            }
            .price-item3 {
                .price-item__title {
                    margin-bottom: 65px;
                }
            }
        }
        
    }
}