.blog{
    margin-top: 20px;
    .blog-title{
        padding:0;
        margin:0;
        border-bottom: 1.5px solid $border--color-primary_2;
        margin-bottom:15px;
        h1{
            line-height:0px;
        }
        // text-align: center;
        // h2{
        //     margin: 77px 0 auto;
        //     @include font(34px, $font-semibold, $font--color-primary_1, 600, 17px);
        // }
        // hr{
        //     width: 35%;
        //     border: 1px solid $font--color-primary_1;
        //     margin-bottom: 30px;
        // }
    }
    
    .card-box{
            overflow: hidden;
            border: 1px solid $border--color-primary_1;
            border-radius: 5px;
            margin: 10px 0;
            width: 100%;
            padding: 0;
            &:hover{
                cursor: pointer;
                margin-top: 7px;
                transition: 0.3s ease-in;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                img{
                    width: 100%;
                    transform: scale(1.1);
                    transition: 0.5s ease-in-out;
                }
                .card-box-container{
                    h4{
                        @include font(17px, $font-semibold, $font-color-primary-hover4, 400,24px);
                    }
                    p{
                        @include font(15px, $font-light, $font-color-primary-hover3, 300,24px); 
                    }
                }
            }
            img{
                    max-width: 100%;
            }
            .card-box-container{
                padding: 10px 15px;
                h4{
                    @include font(17px, $font-semibold, $font--color-primary_7, 400,24px);
                }
                p{
                    @include font(15px, $font-light, $font--color-primary_6, 300,24px);
                }
                .card-box-item{
                    span{
                        @include font(15px, $font-light, $font--color-primary_6, 300,60px);
                    }
                    i{
                        color: $font--color-primary_6;
                    }
                }
            }
            
        }
        .pagination{
            margin: 20px auto;
            .pagination-item{
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: $bgc--color-primary_6;
            border: 1px solid $bgc--color-primary_9;
            margin: 0 5px;
            padding: 9px 15px;
            @include font(15px, $font-light, $font--color-primary_6, 300,20px);
            text-decoration: none;
            &:hover{
                cursor: pointer;
                margin-top: -4px;
                transition: 0.3s ease-in;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
            }
            }
        }
}
@media (max-width: 768px){
    .blog{
        .blog-title{
            width: 100%;
            // text-align: center;
            // h2{
            //     margin: 10px 0 auto;
            //     @include font(34px, $font-semibold, $font--color-primary_1, 600, 17px);
            // }
        }
    }
}