// .teachers{
//     margin-top: 100px;
//     margin-bottom: 70px;
// }
// .teachers img{
// width: 100%;
// // margin: 10px;
// }
// .portret{
//     max-width: 370px;  
//     height: 200px;
// }
// .info{
    
//     max-width: 370px;
//     background-color: $bgc--color-primary_2;
//     color: $font--color-primary_3;
//     height: 200px;
// }
.details-card{
    h1{
        color:$font--color-primary_6;
    }
    .row:nth-child(1){
        padding-bottom: 15px;
        border-bottom: 1.5px solid $border--color-primary_2;
        margin-bottom:25px;
    }
    button{
        position:relative;
        left:25%;
    }
    .pagination{
        margin: 35px auto;
        .pagination-item{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $bgc--color-primary_6;
        border: 1px solid $bgc--color-primary_9;
        margin: 0 5px;
        padding: 9px 15px;
        @include font(15px, $font-light, $font--color-primary_6, 300,20px);
        text-decoration: none;
        &:hover{
            cursor: pointer;
            margin-top: -4px;
            transition: 0.3s ease-in;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        }
    }  
}
.card-desc h3,h4,h5{
    color: $font--color-primary_1;
    // text-align: center;
    padding: 5px;
}
.card-desc h3{ font-size: 23px;}
.icons{margin-top: -63;}
.icons i{
	margin: 10px 15px;
    font-size: 20px;
    color: $font--color-primary_1;  
    display: inline-block;
}
.icons i:hover{
	margin: 10px 15px;
    font-size: 20px;
    color: $font--color-primary_4;  
    display: inline-block;
}
.hidden-text{
    color: $font--color-primary_1;
    padding: 10px;
    line-height: 1.1;
    text-align: justify;
    display: none;
}
#button1{
    display: block;
}
#button2{
    display: none;
}
//   .learn-more{
//       margin-top: 20px;
//   }
//   @media (max-width: 1400px){ 
//     .info{
//         margin-top: 34px;
//     }
//   }
//   @media (max-width: 1199px){ 
//     .info{
//         margin-top: -6px;
//     } 
//     .info h3 {
//         padding-top: 26px;
//     }
//   }
//   @media (max-width: 991px){ 
//     .info{
//         margin-top: -60px;
//     } 
//     .info h3 {
//         padding-top: 2px;
//     }
//   }
//   @media (max-width: 767px){ 
//     .info{
//         margin-top: 47px;
//     } 
//     .info h3 {
//         padding-top: 14px;
//     }
    
//     .btn--transparent {
//     margin-right: 100px;
//     margin-bottom: 16px;
// }
//   }
  
// @media (max-width: 380px){ 
//     .info{
//         margin-top: 34px;
//     } 
//     .info h3 {
//         padding-top: 14px;
//     }
//     .btn--transparent {margin:20px;}


// }
// @media (max-width: 320px){ 
//     .info{
//         margin-top: -6px;
//     } 
//     .info h3 {
//         padding-top: 14px;
//     }
//     .btn--transparent {margin:20px;}


// }
// @import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:400,400i,700,700i');
section{
    padding: 100px 0;
}
.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    margin-bottom: 20px;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
}

.card-desc {
	padding: 1.25rem;
}

// .card-desc h2 {
// 	color: #000000;
//     // font-weight: 600;
//     // font-size: 1.5em;
//     // line-height: 1.3em;
//     margin-top: 0;
//     margin-bottom: 5px;
//     padding: 0;
// }

.card-desc p {
	// color: #747373;
    // font-size: 14px;
	// font-weight: 400;
	// font-size: 1em;
	// line-height: 1.5;
	margin: 0px;
	margin-bottom: 20px;
	padding: 0;
	// font-family: 'Raleway', sans-serif;
}
.btn-card{
	background-color: #1ABC9C;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: #fff;
}
// .btn-card:hover {
//     background: orange;
// }
// a.btn-card {
//     text-decoration: none;
//     color: #fff;
// }