.teachers{
    margin-top: 100px;
    margin-bottom: 70px;
}
.teachers img{
width: 100%;
// margin: 10px;
}
.portret{
    max-width: 370px;  
    height: 200px;
}
.info{
    
    max-width: 370px;
    background-color: $bgc--color-primary_2;
    color: $font--color-primary_3;
    height: 200px;
}
.info h3,h4,h5{
    color: $font--color-primary_3;
    text-align: center;
    padding: 5px;
}
.info h3{    padding-top: 35px;}
.icons{margin-top: -63;}
.icons i{
	margin: 10px 15px;
    font-size: 25px;
    color: $font--color-primary_3;  
   display: inline-block;
   
  }
  .info p{
    color: $font--color-primary_3;
    padding: 10px;
    line-height: 1.1;
    text-align: justify;
    display: none;
}
#button1{
    display: block;
}
#button2{
    display: none;
}
  
  .learn-more{
      margin-top: 20px;
  }
  @media (max-width: 1400px){ 
    .info{
        margin-top: 34px;
    }
  }
  @media (max-width: 1199px){ 
    .info{
        margin-top: -6px;
    } 
    .info h3 {
        padding-top: 26px;
    }
  }
  @media (max-width: 991px){ 
    .info{
        margin-top: -60px;
    } 
    .info h3 {
        padding-top: 2px;
    }
  }
  @media (max-width: 767px){ 
    .info{
        margin-top: 47px;
    } 
    .info h3 {
        padding-top: 14px;
    }
    
    .btn--transparent {
    margin-right: 100px;
    margin-bottom: 16px;
}
  }
  
@media (max-width: 380px){ 
    .info{
        margin-top: 34px;
    } 
    .info h3 {
        padding-top: 14px;
    }
    .btn--transparent {margin:20px;}


}
@media (max-width: 320px){ 
    .info{
        margin-top: -6px;
    } 
    .info h3 {
        padding-top: 14px;
    }
    .btn--transparent {margin:20px;}


}