.testimonials{
    padding-bottom:55px;
    margin-top:115px;
    position:relative;
    h1{
        margin-bottom:25px;
        color:$font--color-primary_6;
    }
    .row:nth-child(1){
        border-bottom: 1.5px solid $border--color-primary_2;
    }
    .pagination{
        margin: 35px auto;
        .pagination-item{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $bgc--color-primary_6;
        border: 1px solid $bgc--color-primary_9;
        margin: 0 5px;
        padding: 9px 15px;
        @include font(15px, $font-light, $font--color-primary_6, 300,20px);
        text-decoration: none;
        &:hover{
            cursor: pointer;
            margin-top: -4px;
            transition: 0.3s ease-in;
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        }
    }  
}
.testimonials-item{
    margin-top: 15px;
    .testimonial-box{
        margin: 10px 0;
        padding: 15px;
        background: $bgc--color-primary_2;
        border-radius:10px;
        h3{
            @include font(28px, $font-light, $font--color-primary_3, 300,54px);
        }
        p{
            @include font(14px, $font-light, $font--color-primary_4, 300,18px);
        }
        hr{
            width: 100%;
        }
    }
    .testimonial-form{
        background: $bgc--color-primary_2;
        margin: 10px auto;
        width: 44%;
        padding: 5px;
        h3{
            text-align: center;
            margin: 10px 0;
        }
        form{
            p{
                @include font(14px, $font-light, $font--color-primary_4, 300,0px); 
                margin: 0;
            }
            input{
                width: 100%;
                background: none;
                border-bottom: 1px solid;
                padding: 2px;
                margin-bottom: 60px;
            }
            textarea{
                width: 100%;
                background: none;
                border: 1px solid;
                padding: 10px;
            }
        }
    }
}
@media (max-width: 991px){
    .testimonials-item{
        margin-top: 10px;
        .testimonial-form{
            width: 70%;
        }
    }
}
@media (max-width: 768px){
    .testimonials-item{
        width: 100%;
        .testimonial-form{
            width: 100%;
            form{
                button{
                    width: 100%;
                }
            }
        }
    }
    
}