body{
    margin: 0;
    padding: 0;
    header{
        background: none;
        position: fixed;
        z-index: 99;
        width: 100%;
        .head-line{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 6px 0;
            .logo{
                display: flex;
                align-items: center;
                width: 20%;
                a{
                    text-decoration: none;
                    color: $font--color-primary_3;
                    display: inline-block;
                    padding: 3px;
                    margin: 0 2px;
                    img{
                        max-width: 100%;
                    }
                    h1{
                        margin: 0;
                        @include font(28px, $font-light, $font--color-primary_3, 600, 1);
                        span{
                            font-weight: 700;
                        }
                    }
                }
            }
            .menu{
                nav{
                    ul{
                        display: flex;
                        li{
                            padding: 0 10px;
                            list-style-type: none;
                            a{
                                text-decoration: none;
                                @include font(14px, $font-light, $font--color-primary_4, 600, 1);
                                transition: 0.3s;
                                &:hover{
                                    @include font(14px, $font-light, $font--color-primary_3, 600, 1);
                                }
                                
                            }
                            .active{
                                @include font(14px, $font-light, $font--color-primary_3, 600, 1);
                            }
                        }
                    }
                }
            }

        }
        
    }
}