{% load static %}
{% include "parts/_internal_header.html" %}
<div class="sl w-100">
    <div class="sl__slide">
        <img src="{% static 'img/hero-1.jpg' %}" alt="">
        <div class="container">
            <div class="sl__text">
                <h3 class="sl__zag">
                    Lorem ipsum dolor 1
                </h3>
                <p class="sl__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel distinctio consectetur obcaecati</br>
                    perferendis voluptas explicabo accusamus.
                </p>
                <button class="btn--main">Get Started</button>
            </div>
        </div>


    </div>
    <div class="sl__slide">
        <img src="{% static 'img/hero-2.jpg' %}" alt="">
        <div class="container">
            <div class="sl__text">
                <h3 class="sl__zag">
                    Lorem ipsum dolor 2
                </h3>
                <p class="sl__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel distinctio consectetur obcaecati</br>
                    perferendis voluptas explicabo accusamus.
                </p>
                <button class="btn--main">Find out more</button>
            </div>

        </div>

    </div>
    <div class="sl__slide">
        <img src="{% static 'img/hero-3.jpg' %}" alt="">
        <div class="container">
            <div class="sl__text">
                <h3 class="sl__zag">
                    Lorem ipsum dolor 3
                </h3>
                <p class="sl__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel distinctio consectetur obcaecati</br>
                    perferendis voluptas explicabo accusamus.
                </p>
                <button class="btn--main">Try it now</button>
            </div>
        </div>
    </div>
</div>
    