{% load static %}
    <header>
      <div class="container">
        <div class="row">
          <div class="col-9 logo-block m-auto">
            <a class="navbar-brand" href="{% url 'pages:index' %}">
              <img src="{% static 'img/logo5.png' %}" width="50" height="40" class="logo" alt="">
              Web<span>school</span>
            </a>
          </div>
          <div class="col-3 m-auto but-container d-flex justify-content-center">{% if user.is_authenticated %}
            <button type="button" class="btn btn-primary"> <a href="{% url 'accounts:sign_out' %}">Вихід ({{user}})</a></button>
          
          {% else %}
          <button type="button" class="btn btn-primary"> <a href="{% url 'accounts:sign_in' %}">Вхід</a></button>
          {% endif %}
            <button type="button" class="btn btn-secondary"><a href="{% url 'accounts:registration' %}">Реєстрація</a></button>
          </div>
        </div>
      </div>
      <div class="navigate w-100" id="for-b">
        <input type="checkbox" id="burger">
        <label for="burger">
          <span></span>
          <span></span>
          <span></span>
        </label>
        <ul class="nav m-auto">
          <li class="nav-item logo-fixed" id="logo_on">
            <a href="{% url 'pages:index' %}" class="nav-link">
              <img src="{% static 'img/logo5.png' %}" width="30" height="20" class="logo" alt="">
            </a>
          </li>
          <li class="nav-item">
            <a {% if '/' == request.path %}class="nav-link active" {% else %}{% endif %} class="nav-link" href="{% url 'pages:index' %}">Головна сторінка</a>
          </li>
          <li class="nav-item">
            <a {% if 'courses' in request.path %} class="nav-link active" {% endif %} class="nav-link " href="{% url 'pages:courses' %}">Курси</a>
          </li>
          <li class="nav-item">
            <a {% if 'testimonials' in request.path %} class="nav-link active" {% endif %} class="nav-link" href="{% url 'pages:testimonials' %}"> Відгуки</a>
          </li>
          <li class="nav-item">
            <a {% if 'blog' in request.path %} class="nav-link active" {% endif %} class="nav-link" href="{% url 'pages:blog' %}"> Наш блог</a>
          </li>
          <li class="nav-item">
            <a {% if 'teachers' in request.path %} class="nav-link active" {% endif %} class="nav-link" href="{% url 'pages:teachers' %}"> Викладачі</a>
          </li>
          <li class="nav-item">
            <a {% if 'about' in request.path %} class="nav-link active" {% endif %} class="nav-link" href="{% url 'pages:about' %}">Про нас</a>
          </li>
          <li class="nav-item">
            <a {% if 'contacts' in request.path %} class="nav-link active" {% endif %} class="nav-link" href="{% url 'pages:contacts' %}"> Контакти</a>
          </li>
          <ul class="media">
            <li class="nav-item">
              <button type="button" class="btn btn-primary"><a href="../signIn.html">Вхід</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-secondary">Реєстрація</button>
            </li>
          </ul>
        </ul>
      </div>
    </header>