{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}
{% if user.is_authenticated %}
<div class="container av_couses">
    <div class='row'>
        <h2>Всі доступні курси</h2>
    </div>
    <div class="row flex-md-wrap list">
        <div class="col  col-md-6 col-xl-8">
            <div class="list-box">{% for course in courses %}
                <a href="{% url 'courses:one_lesson' course.id %}">Безкоштовні {{course.title}} курси</a>
            <p>
            {% for lesson in lessons %}
            {% if lesson.course == course %}
            {{lesson}}
            
            {% else %}
            {% endif %}
            {% endfor %}
             уроків</p>
            {% endfor %}
                
            </div>
            <button type="submit" class="btn--card"><a href="{% url 'pages:student_profile' %}">Повернутися в особистий
                    кабінет</a></button>
        </div>
        <div class="col   col-md-6 col-xl-4 justify-content-center">
            <div class="connect-us">
                <h4>Підключайтеся і спілкуйтеся з нами, де Вам зручно:</h4>
                <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a> <br>
                <a href="#"><i class="fab fa-instagram"></i>Instagram</a><br>
                <a href="#"><i class="fab fa-telegram-plane"></i>Telegram Bot</a><br>
                <a href="#"><i class="fab fa-viber"></i>Viber</a>
            </div>
        </div>
    </div>
</div>{% else %}
{% include "parts/_sign_in_h1.html" %}

{% endif %}
{% endblock content %}