{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}

<div class="container-fluid page_contacts">
        <div class="container">
            <div class="row">
                <div class="col-lg">
                    <h1>Наші контакти</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li><span>Години роботи навчального центру: Пн-Пт <b>09.00-22.00</b>,
                                Сб-Нд <b>10.00-17.00</b></span></li>
                        <li><span>Години роботи адміністрації: Пн-Пт <b>09.00-22.00</b>, Сб-Нд <b>10.00-17.00</b></span></li>
                        <li><span>Тел: (097) 777-77-77</span><br>
                            <span>Тел: (073) 777-77-77</span><br>
                            <span>Тел: (050) 777-77-77</span>
                        </li>
                        <li><span>Email: info.web_school.rv@gmail.com</span></li>
                        <li><span>м.Рівне,вул.Соборна 16</span></li>
                    </ul>
    
                </div>
                <div class="col-lg-6">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d632.8660035117236!2d26.258161298233794!3d50.61849638181314!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x472f134609e1331f%3A0x4b4b27390f364d81!2z0JrQvtC80L8n0Y7RgtC10YDQvdCwINCQ0LrQsNC00LXQvNGW0Y8g0KjQkNCT!5e0!3m2!1suk!2sus!4v1582407077663!5m2!1suk!2sus"
                            width="550" height="450" frameborder="0" style="border:1px solid gray;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}