{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}
<div class="container-fluid course_header">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 logo"></div>
            <div class="col-lg-7">
                <h2 class="uppercase">безкоштовні html курси</h2>
                <h4 class="uppercase">СТАНЬ УСПІШНИМ html РОЗРОБНИКОМ</h4>
                <div class="btn--main uppercase"><a href="{% url 'pages:price' %}">приєднатися</a></div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid course_main">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h3>Чому варто вивчати</h3>
                <h4 class="uppercase">html &quest;</h4>
            </div>
        </div>
        <div class="why">
            <div class="row">
                <div class="col-lg-4">
                    <h5>Lorem ipsum is</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h5>Lorem ipsum is</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <h5>Lorem ipsum is</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting.
                    </p>
                </div>
                <div class="col-lg-4">
                    <h5>Lorem ipsum is</h5>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and
                        scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                        leap
                        into electronic typesetting.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid career">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1>Як буде розвиватися твоя кар’єра ?</h1>
                <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged.</h5>
            </div>
            <div class="col-lg-1 offset-lg-1">
                <div class="middle">
                    <img src="{% static 'img/middle.svg' %}" alt="" />
                    <h5>MIDDLE</h5>
                    <p>1300-2300$</p>
                </div>
            </div>
            <div class="col-lg-1 offset-lg-2">
                <div>
                    <img src="{% static 'img/senior.svg' %}" alt="">
                    <h5>SENIOR</h5>
                    <p>2300-4000$</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1 offset-lg-1 col-3">
                <div class="start">
                    <img src="{% static 'img/start.svg' %}" alt="">
                    <h5>ЗАРАЗ</h5>
                    <p>починаєш навчатися</p>
                </div>
            </div>
            <div class="col-lg-1 offset-lg-2 col-3">
                <div class="jun">
                    <img src="{% static 'img/junior.svg' %}" alt="">
                    <h5>JUNIOR</h5>
                    <p>400-800$</p>
                </div>
            </div>
            <div class="col-lg-1 offset-lg-2 hidden_icon  col-3">
                <div class="middle">
                    <img src="{% static 'img/middle.svg' %}" alt="" />
                    <h5>MIDDLE</h5>
                    <p>1300-2300$</p>
                </div>
            </div>
            <div class="col-lg-1 offset-lg-2 hidden_icon  col-3">
                <div>
                    <img src="{% static 'img/senior.svg' %}" alt="">
                    <h5>SENIOR</h5>
                    <p>2300-4000$</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid career_2">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>HTML<span>- ЦЕ МОЖЛИВОСТІ,</span></h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <p>величезна кількість шляхів розвитку розробника відкриває ще більше можливостей для заробітку</p>
            </div>
        </div>
        <div class="row career_2_2">
            <div class="col-lg-6 offset-lg-6">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 offset-lg-6">
                <a href="{% url 'pages:price' %}" class="btn--main">приєднатися</a>
            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid career_3">
    <div clas="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h1>З яких блоків складається курс HTML для чайників?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <ul>
                    <li><span>45% Блок Tech Skills</span>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </h4>
                    </li>
                    <li><span>25% Блок Soft Skills</span>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </h4>
                    </li>
                    <li><span>29% Блок Career Skills</span>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </h4>
                    </li>
                    <li><span>1% Блок English</span>
                        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. </h4>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid career_4">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>Яким буде твій шлях освоєння HTML розробки?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <h5>HTML 5</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <h2>3 місяці 48 годин</h2>
            </div>
        </div>
        <div class="row uppercase">
            <div class="col-lg-1">
                <img src="{% static 'img/idea.png' %}" alt=""></div>
            <div class="col-lg-10">
                <span>Ціль</span><br>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.</p>
            </div>

        </div>
        <div class="row ">
            <div class="col-lg-1">
                <img src="{% static 'img/goal.png' %}" alt=""></div>
            <div class="col-lg-10">
                <span>Результат</span><br>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo
                    consequat.</p>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg offset-lg-1">
                <h4 class="uppercase">програма</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <ul>
                    <li>
                        <h5>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.</h5>
                    </li>
                    <li>
                        <h5>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.</h5>
                    </li>
                    <li>
                        <h5>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.</h5>
                    </li>
                    <li>
                        <h5>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.</h5>
                    </li>
                    <li>
                        <h5>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit
                            anim id est laborum.</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 col-6">
                <a href="{% url 'pages:testimonials' %}" class="btn--transparent">відгуки</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="{% url 'pages:price' %}" class="btn--main">приєднатися</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid career_5">
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h1>Хто буде вести курс?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg offset-lg-2">
                <h5>Іванов Іван</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-lg offset-lg-2">
                <h3>HTML Developer</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 offset-lg-2 line"></div>
        </div>
        <div class="row">
            <div class="col-lg offset-lg-2">
                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua.</h4>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid career_6">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 col-6">
                <a href="{% url 'pages:testimonials' %}" class="btn--card">відгуки</a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-6">
                <a href="{% url 'pages:price' %}" class="btn--main">приєднатися</a>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>
<!-- <div class="container-fluid career_7">
    <div class="container">
        <div class="col-lg">
            <div class="testimonial-form">
                <h3>Надіслати заявку</h3>
                <form action="" method="post" class="form">
                    <div>
                        <p>Ім'я</p></br>
                        <input type="text" id="name" placeholder="">
                    </div>
                    <div>
                        <p>Прізвище</p></br>
                        <input type="text" id="name" placeholder="">
                    </div>
                    <div>
                        <p>Email</p></br>
                        <input type="text" id="name" placeholder="">
                    </div>
                    <div>
                        <p>Телефон</p></br>
                        <input type="text" id="name" placeholder="">
                    </div>
                    <p>Повідомлення</p></br>
                    <input type="text" id="name" placeholder="">
                    <div>
                        <p>Місто</p></br>
                        <select id="city" name="">
                            <option>Не вибрано</option>
                            <option>Рівне</option>
                            <option>Львів</option>
                            <option>Луцьк</option>
                            <option>Хмельницьк</option>
                        </select>
                    </div>
                    <div>
                        <p>Бажаю пройти курси</p></br>
                        <select id="couses" name="">
                            <option>Не вибрано</option>
                            <option>HTML</option>
                        </select></br>
                    </div>
                    <button type="submit" class="btn--card">Залишити заявку</button>
                </form>
            </div>
        </div>
    </div>
</div> -->
{% endblock content %}