{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_header.html" %}
<main class="main">
    <div class="container-fluid main-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="course-title">Комплексні курси</h2>
                </div>
            </div>
            <div class="row">{% for course in courses %}
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{{course.photo_main.url}}" alt="{{course.title}}" />
                    </a>
                </div>
                {% endfor %}


            </div>
            <div class="row">
                <div class="col-md-12 course-btn">
                    <a href="{% url 'pages:courses' %}" class="btn--card">Усі курси</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color2 details-card">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="teachers-title">Наші викладачі</h2>
                </div>
            </div>
            <div class="row">
                {% if teachers %}
                {% for teacher in teachers %}
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="{% static 'img/user.png' %}" alt="">
                        </div>
                        <div class="card-desc">
                            <h3>{{teacher.first_name}} {{teacher.last_name}}</h3>
                            <h5>Дещо про вчителя...</h5>
                            <h4>Курс: <a href="{% url 'pages:courses' %}" target="_blank">{{teacher.courses}}</a></h4>
                            <div class="icons d-flex justify-content-center">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="toggle">
                                <p class="hidden-text content">
                                {% if teacher.body %}
                                {{teacher.body}}
                                {% else %}
                                No info...
                                {% endif %}
                                </p>
                                <button type="submit" class="btn--transparent toggler">
                                    Детальніше
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2>No Teachers yet =(...</h2>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 teachers-btn">
                    <a href="{% url 'pages:teachers' %}" class="btn--transparent">Усі викладачі</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="testimonials-title">Відгуки</h2>
                </div>
            </div>
            <div class="row">
                {% if testimonials %}
                {% for testimonial in testimonials %}
                <div class="testimonials-item">
                    <div class="col-md">
                        <div class="card-img">
                        {% for student in students %}
                        {% if student.id == testimonial.student_id %}
                        {% if student.photo_main %}
                        <img src="{{student.photo_main.url}}" alt="photo">
                        {% else %}
                        <img src="{% static 'img/user.png' %}" alt="photo">
                        {% endif %}
                        {% else %}
                        <img src="{% static 'img/user.png' %}" alt="photo">

                        {% endif %}
                        
                        {% endfor %}
                            
                        </div>
                        <h3>{{testimonial.author_id}}</h3>
                        <p class="course"><span>Курс: </span>{{testimonial.course_id}}</p>
                        <p class='teacher'><span>Викладач: </span>{{testimonial.teacher_id}}</p>
                        <p>
                        {{testimonial.text_area}}
                        </p>
                        <div class="data">
                            <i class="far fa-clock"></i>
                            <p>{{testimonial.pub_date}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                {% endif %}

            </div>
            <div class="row">
                <div class="col-md-12 testimonials-btn">
                    <a href="{% url 'pages:testimonials' %}" class="btn--main">Усі відгуки</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="blog-title">Наші новини</h2>
                </div>
            </div>
            <div class="row">{% if blog_list %}
                {% for blog in blog_list %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card-box">
                        <a href="{% url 'blog:single_blog_url' blog.id %}">
                            {% for img in imges %}
                            {% if img.blog_id == blog %}
                            <div class="img_blog">
                                <img src="{{img.photo_main.url}}" alt="">
                            </div>
                            {% else %}
                            {% endif %}
                            {% endfor %}
                            <div class="card-box-container">
                                <h4>{{blog.title}}</h4>
                                <p>{{blog.text_area}}</p>
                                <div class="card-box-item">
                                    <i class="fas fa-eye"></i>
                                    <span>{{blog.views}}</span>
                                    <i class="far fa-clock"></i>
                                    <span>{{blog.pub_date}}</span>
                                </div>
                            </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <h2 style='color:green;'>!!!SORRY COMMING SOON!!!</h2>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 blog-btn">
                    <a href="{% url 'blog:blog' %}" class="btn--transparent">Усі новини</a>
                </div>
            </div>
        </div>

</main>
{% endblock content %}