{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_header.html" %}
<main class="main">
    <div class="container-fluid main-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="course-title">Комплексні курси</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/java.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/qc.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/web.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/it-english-main-1.jpeg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/hr-block.jpg' %}" alt="">
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/unnamed-file.wm.jpeg' %}" alt="">
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/kids-academy.jpg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 course-btn">
                    <a href="{% url 'pages:courses' %}" class="btn--card">Усі курси</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="teachers-title">Викладачі</h2>
                </div>
            </div>
            
            <div class="row">
            {% if teachers %}
            {% for teacher in teachers %}
                <div class="col-md-4">
                    <div class="teachers-item">
                        <div class="teachers-item__img">
                            <img src="{% static 'img/gomer.jpeg' %}" alt="">
                        </div>
                        <div class="teachers-item__about">
                            <h5>{{teacher.first_name}} {{teacher.last_name}}</h5>
                            <h6>Дещо про вчителя...</h6>
                            <p>Курс: <a href="{% url 'pages:courses' %}" target="_blank">{{teacher.courses}}</a></p>
                        </div>
                    </div>
                    <a href="#" class="btn--transparent teacher-btn">Детальніше про викладача </a>
                </div>
            
            {% endfor %}
            {% else %}
            <h2>No Teachers yet =(...</h2>
            {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 teachers-btn">
                    <a href="{% url 'pages:teachers' %}" class="btn--transparent">Усі викладачі</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="testimonials-title">Відгуки</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 testimonials-item">
                    <div class="testimonials-item__img">
                        <img src="{% static 'img/bart-simpson.png' %}" alt="">
                    </div>
                    <div class="testimonials-item__about">
                        <h5>Мар’яна Лорем</h5>
                        <p>Курс: <a href="#" target="_blank">JavaScript</a></p>
                        <p>Успішно пройшов я курс по JavaScript. Наставляв мій темний і ще не обізнаний розум шикарний
                            викладач, і просто хороша людина – Петро Жук. Із ним, складні речі ставалими простішими,
                            навіть я б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача
                            і любов до своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.</p>
                    </div>
                </div>
                <div class="col-md-4 testimonials-item">
                    <div class="testimonials-item__img">
                        <img src="{% static 'img/bart-simpson2.png' %}" alt="">
                    </div>
                    <div class="testimonials-item__about">
                        <h5>Мар’яна Лорем</h5>
                        <p>Курс: <a href="#" target="_blank">Web Developer</a></p>
                        <p>Проходила курси web-developera. Наш викладач – Журавльов Сергій. Навчанням задоволені. Перш
                            за все, сподобалась дружня атмосфера, відкритість і простота пояснення. Уроки проходили в
                            жвавому ритмі, мучили Сергія всіма питаннями, адже, як він казав на ввідному занятті – ви
                            прийшли на курси, то всмоктуйте більше інформації, грузіть викладача питаннями, незалежно чи
                            прості чи легкі. </p>
                    </div>
                </div>
                <div class="col-md-4 testimonials-item">
                    <div class="testimonials-item__img">
                        <img src="{% static 'img/bart-simpson3.png' %}" alt="">
                    </div>
                    <div class="testimonials-item__about">
                        <h5>Мар’яна Лорем</h5>
                        <p>Курс: <a href="#" target="_blank">Java Core</a></p>
                        <p>Горбань Віталій дуже хороший викладач. Розказує цікаво і зрозуміло, до складного підводить
                            поступово що я вважаю дуже правильно. Надихає вчитися. Викладачем задоволена дуже. Що
                            стосується самого навчання, то програма охоплює досить велику кількість матеріалу за
                            короткий проміжок часу, потрібно бути постійно в розумовому навантаженні, попускати пояси
                            нема коли. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 testimonials-btn">
                    <a href="{% url 'pages:testimonials' %}" class="btn--main">Усі відгуки</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid main-bg-color4">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="price-title">Ціни</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="price-item">
                            <h3 class="price-item__title">Самостійне проходження</h3>
                            <div class="price-item__pr">
                                <span class="currency">$</span><span class="number">120</span>
                            </div>
                            <div class="price-item__desc">
                                <p>Lorem ipsum dolor, sit amet consectetur...</p>
                                <a href="#" target="_blank">Більше</a>                          
                            </div>
                            <a class="btn--card" href="#">Buy Now</a>                        
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item price-item2">
                            <h3 class="price-item__title">Курс з перевіркою</h3>
                            <div class="price-item__pr">
                                <span class="currency">$</span><span class="number">180</span>
                            </div>
                            <div class="price-item__desc">
                                <p>Lorem ipsum dolor, sit amet consectetur...</p>
                                <a href="#" target="_blank">Більше</a>                          
                            </div>
                            <a class="btn--card" href="#">Buy Now</a>                        
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="price-item price-item3">
                            <h3 class="price-item__title">VIP</h3>
                            <div class="price-item__pr">
                                <span class="currency">$</span><span class="number">240</span>
                            </div>
                            <div class="price-item__desc">
                                <p>Lorem ipsum dolor, sit amet consectetur...</p>
                                <a href="#" target="_blank">Більше</a>                          
                            </div>
                            <a class="btn--card" href="#">Buy Now</a>                        
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="container-fluid main-bg-color5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="blog-title">Наші новини</h1>
                </div>
            </div>
            <div class="row">{% if blog_list %}
            {% for blog in blog_list %}
            <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card-box">
                        <a href="{% url 'blog:single_blog_url' blog.id %}">
                        {% for img in imges %}
                        {% if img.blog_id == blog %}
                        <img src="{{img.photo_main.url}}" alt="">
                        {% else %}
                        {% endif %}
                        {% endfor %}
                        <div class="card-box-container">
                            <h4>{{blog.title}}</h4>
                            <p>{{blog.text_area}}</p>
                            <div class="card-box-item">
                                <i class="fas fa-eye"></i>
                                <span>{{blog.views}}</span>
                                <i class="far fa-clock"></i>
                                <span>{{blog.pub_date}}</span>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
           {% endfor %}
           {% else %}
            <h2 style='color:green;'>!!!SORRY COMMING SOON!!!</h2>
           {% endif %}
           </div>
            <div class="row">
                <div class="col-md-12 blog-btn">
                    <a href="{% url 'blog:blog' %}" class="btn--transparent">Усі новини</a>
                </div>
            </div>
        </div>
    
</main>
{% endblock content %}