{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_header.html" %}
<main class="main">
    <div class="container-fluid main-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="course-title">Комплексні курси</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/back-end.svg' %}" alt="Профессия Back-end разработчик" />
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/python.svg' %}" alt="Профессия Python разработчик"
                            title="Профессия Python разработчик" />
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/java.svg' %}" alt="Профессия Java разработчик"
                            title="Профессия Java разработчик" />
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="{% url 'pages:course_page' %}">
                        <img src="{% static 'img/unity.svg' %}" alt="Профессия Unity разработчик"
                            title="Профессия Unity разработчик" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 course-btn">
                    <a href="{% url 'pages:courses' %}" class="btn--card">Усі курси</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color2 details-card">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="teachers-title">Наші викладачі</h2>
                </div>
            </div>
            <div class="row">
                {% if teachers %}
                {% for teacher in teachers %}
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="{% static 'img/user.png' %}" alt="">
                        </div>
                        <div class="card-desc">
                            <h3>{{teacher.first_name}} {{teacher.last_name}}</h3>
                            <h5>Дещо про вчителя...</h5>
                            <h4>Курс: <a href="{% url 'pages:courses' %}" target="_blank">{{teacher.courses}}</a></h4>
                            <div class="icons d-flex justify-content-center">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="toggle">
                                <p class="hidden-text content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                                    natus facilis ipsam tempore, optio maxime pariatur dolor qui
                                    laudantium cum odio modi voluptas ad est porro cupiditate quo
                                    tempora repellat.
                                </p>
                                <button type="submit" class="btn--transparent toggler">
                                    Детальніше
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <h2>No Teachers yet =(...</h2>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 teachers-btn">
                    <a href="{% url 'pages:teachers' %}" class="btn--transparent">Усі викладачі</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="testimonials-title">Відгуки</h2>
                </div>
            </div>
            <div class="row">
                <div class="testimonials-item">
                    <div class="col-md">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <h3>Мар'яна Лорем</h3>
                        <p class="course"><span>Курс: </span>HTML</p>
                        <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                        <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                            просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими,
                            навіть я
                            б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов
                            до
                            своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                        </p>
                        <div class="data">
                            <i class="far fa-clock"></i>
                            <p>25.04.2020</p>
                        </div>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="col-md">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <h3>Мар'яна Лорем</h3>
                        <p class="course"><span>Курс: </span>HTML</p>
                        <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                        <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                            просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими,
                            навіть я
                            б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов
                            до
                            своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                        </p>
                        <div class="data">
                            <i class="far fa-clock"></i>
                            <p>25.04.2020</p>
                        </div>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="col-md">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <h3>Мар'яна Лорем</h3>
                        <p class="course"><span>Курс: </span>HTML</p>
                        <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                        <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                            просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими,
                            навіть я
                            б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов
                            до
                            своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                        </p>
                        <div class="data">
                            <i class="far fa-clock"></i>
                            <p>25.04.2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 testimonials-btn">
                    <a href="{% url 'pages:testimonials' %}" class="btn--main">Усі відгуки</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="blog-title">Наші новини</h2>
                </div>
            </div>
            <div class="row">{% if blog_list %}
                {% for blog in blog_list %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card-box">
                        <a href="{% url 'blog:single_blog_url' blog.id %}">
                            {% for img in imges %}
                            {% if img.blog_id == blog %}
                            <div class="img_blog">
                                <img src="{{img.photo_main.url}}" alt="">
                            </div>
                            {% else %}
                            {% endif %}
                            {% endfor %}
                            <div class="card-box-container">
                                <h4>{{blog.title}}</h4>
                                <p>{{blog.text_area}}</p>
                                <div class="card-box-item">
                                    <i class="fas fa-eye"></i>
                                    <span>{{blog.views}}</span>
                                    <i class="far fa-clock"></i>
                                    <span>{{blog.pub_date}}</span>
                                </div>
                            </div>
                    </div>
                    </a>
                </div>
                {% endfor %}
                {% else %}
                <h2 style='color:green;'>!!!SORRY COMMING SOON!!!</h2>
                {% endif %}
            </div>
            <div class="row">
                <div class="col-md-12 blog-btn">
                    <a href="{% url 'blog:blog' %}" class="btn--transparent">Усі новини</a>
                </div>
            </div>
        </div>

</main>
{% endblock content %}