{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}
{% if user.is_authenticated %}

<section class="one-lesson">
    <div class="container">
    {% if paged_lesson %}
    {% for less in paged_lesson %}
        <div class="row">
            <div class="col-md-9">
            
            
                <h1>{{less.title}}</h1>
            </div>
            <div class="col-md-3"><a href="{% url 'courses:available_courses' %}">Повернутися до списку курсів</a></div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <a href="../available_courses.html">Список курсів</a>
            </div>
        </div> -->
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>Урок {{paged_lesson.number}}</h2>
            </div>
        </div>
        {% if paged_lesson.has_other_pages %}
        <div class="row">{% if paged_lesson.has_previous %}
            <div class="col-md-4 prev">
                <a href="?page={{ paged_lesson.previous_page_number }}">Попередній урок</a> <br>
                <p>Урок {{paged_lesson.previous_page_number}}</p>
            </div>
            {% else %}
             <div class="col-md-4 prev">
                <a href="#" class='disabled'>Перший урок</a> <br>
                <p>Урок {{paged_lesson.number}}</p>
            </div>
            {% endif %}
            {% for i in paged_lesson.paginator.page_range %}
            {% if paged_lesson.number == i %}
                    <div class="col-md-4 now">
                    <p>{{i}} із {{paged_lesson.paginator.count}} уроків</p>
                    </div>
            {% else %}
            {% endif %}
            {% endfor %}
            {% if paged_lesson.has_next %}
            <div class="col-md-4 next">
                <a href="?page={{ paged_lesson.next_page_number }}">Наступний урок</a><br>
                <p>Урок {{paged_lesson.next_page_number}}</p>
            </div>
            {% else %}
            <div class="col-md-4 next">
                <a href="#">Останній урок</a><br>
                <p>Урок {{paged_lesson.number}}</p>
            </div>
            {% endif %}
            
        </div>
        {% else %}
        {% endif %}
        
        <hr>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <video width="800" height="600" controls>
                <source src="{{ less.file.url }}" type="video/mp4">
                <source src="{{ less.file.url }}" type="video/ogg">
                </video>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>{{less.description}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>{{less.text_area}}</p>
            </div>
        </div>
        {% if user.student.paid_access == True %}
        {% if tasks %}
        {% for task in tasks %}
        {% if task.lesson.id == less.id %}
        {% if task.avelable == True %}
                        <div class="row home_work">
            <div class="col">
                <h2>{{task.title}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col homework ">
                <p>{{task.question}}</p>
                <form action="{% url 'courses:one_lesson' less.id %}" method="POST">
                    {% csrf_token %}
                    {% if task.ready_for_check == True and task.checked == True %}
                    <input class="form-control" type="text" style='background-color:lightgreen;' placeholder="{{task.answer}} <----- Здано!" readonly>
                    {% elif task.ready_for_check == True and task.checked == False %}
                    <input class="form-control" type="text" style='background-color:lightyellow;' placeholder="{{task.answer}} <----- На перевірці!" readonly>
                    {% else %}
                    <textarea name="student_answer" id="message" placeholder="Ваша відповідь"></textarea>
                    <div class="send_file"><br>
                        <button type="submit" class="btn--main">Відправити відповідь</button>
                    </div>
                    {% endif %}
                    <input type='hidden' name='task_id' value={{task.id}} >
                    
                </form>
            </div>
        </div>
        {% else %}
        <h2>Перевіряємо ваше попереднє завдання!</h2>
        {% endif %}

        {% else %}
        {% endif %}
        {% endfor %}
        {% else %}
        <h2>Немає доступних завдань!</h2>
        {% endif %}
        {% else %}
        <h2>Для отримання доступу до домашніх завдань потрібно оплатити курс навчання!</h2>
        {% endif %}
    {% endfor %}
        {% else %}
            <div class="col-md-4 offset-8"><a href="{% url 'courses:available_courses' %}">Повернутися до списку курсів</a></div>
    <h2>Уроків поки немає!!!</h2>
    <img src='{% static "img/bart-simpson.png" %}' alt='' >
    {% endif %}
    </div>
</section>
{% else %}
{% include "parts/_sign_in_h1.html" %}
{% endif %}
{% endblock content %}