{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}
<div class="container-fluid main-bg-color4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="price-title">Вартість навчання</h2>
                <hr>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="price-item">
                    <h3 class="price-item__title">Самостійне проходження</h3>
                    <div class="price-item__pr">
                        <span class="currency"></span><span class="number">Безкоштовно</span>
                    </div>
                    <div class="price-item__desc">
                        <p>Lorem ipsum dolor, sit amet consectetur...</p>
                        <!-- <a href="#" target="_blank">Більше</a>                           -->
                    </div>
                    <a class="btn--card" href="{% url 'pages:payment' %}">Приєднатися</a>                        
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-item price-item2">
                    <h3 class="price-item__title">Курс з перевіркою</h3>
                    <div class="price-item__pr">
                        <span class="currency">$</span><span class="number">180</span>
                    </div>
                    <div class="price-item__desc">
                        <p>Lorem ipsum dolor, sit amet consectetur...</p>
                        <!-- <a href="#" target="_blank">Більше</a>                           -->
                    </div>
                    <a class="btn--card" href="{% url 'pages:payment' %}">Оплатити</a>                        
                </div>
            </div>
            <div class="col-md-4">
                <div class="price-item price-item3">
                    <h3 class="price-item__title">VIP</h3>
                    <div class="price-item__pr">
                        <span class="currency">$</span><span class="number">240</span>
                    </div>
                    <div class="price-item__desc">
                        <p>Lorem ipsum dolor, sit amet consectetur...</p>
                        <!-- <a href="#" target="_blank">Більше</a>                           -->
                    </div>
                    <a class="btn--card" href="{% url 'pages:payment' %}">Оплатити</a>                        
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
