{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}{% if user.is_authenticated %}{% if user.is_staff == False %}
<div class="container-fluid profile_1">
    <div class="container">
        <div class="row title">
            <div class="col-md-4">
                <h2>Кабінет студента</h2>
            </div>
        </div>
    </div>
</div>
<div class="container profile_2">
    <div class="row">
    {% for prof in profile %}
        <div class="col-md-5">
            <div class="personal-info">
                <div class="photo-box">{% if prof.photo_main %}
                <img src="{{ prof.photo_main.url }}" alt="photo">
                {% else %}
                <img src="#" alt="photo">
                {% endif %}
                
                
                </div>
                <h4 class="name">{{prof.first_name}} {{prof.last_name}}</h4>
                <span>UI/UX Designer</span>
                <ul class="personal_item">
                    <li class="personal_item_cont">
                        <p>12</p>
                        <span>курсів</span>
                    </li>
                    <li class="personal_item_cont">
                        <p>11</p>
                        <span>здано завдань</span>
                    </li>
                    <li class="personal_item_cont">
                        <p>7</p>
                        <span>оцінено завдань</span>
                    </li>
                </ul>
                <button class="btn--main edit_button" type="submit"><a href="{% url 'pages:edit' %}">Редагувати дані</a></button>
            </div>
        </div>
        <div class="col-md-7">
            <div>
                <h4>Про себе :</h4>
                <p class="descr-info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat nesciunt excepturi
                    illum nostrum, reprehenderit ducimus, sit mollitia voluptas, ad accusamus veritatis quo. Velit
                    reprehenderit animi.
                </p>
            </div>
            <div>
                <h4>Курси :</h4>
                <ul>
                    <li class="start_course">Курс "HTML5"</li>
                    <li class="finish_course">Курс "Java Script"</li>
                    <li class="soon_course">Курс "CSS"</li>
                </ul>
                <button class="btn--card"><a href="{% url 'pages:available_courses' %}">Переглянути всі досутпні курси</a></button>
            </div>
            <div>
                <h4>Email :</h4>
                <p>{{user.email}}</p>
            </div>
            <div>
                <h4>Соціальні мережі:</h4>
                <ul>
                    <li>Facebook URL</li>
                    <li>Twitter URL</li>
                    <li>LinkedIn URL</li>
                    <li>Google+ URL</li>
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
{% else %}
{% include "parts/_sign_in_h1.html" %}
{% endif %}
{% else %}
{% include "parts/_sign_in_h1.html" %}
{% endif %}

{% endblock content %}