{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}

<section class="details-card">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Наші викладачі</h2>
      </div>
    </div>
    <div class="row">
      {% if teachers %}
      {% for teacher in teachers %}
      <div class="col-lg-4 col-md-4 col-sm-12 col-12">
          <div class="card-content">
              <div class="card-img">
                  <img src="{% static 'img/user.png' %}" alt="">
              </div>
              <div class="card-desc">
                  <h3>{{teacher.first_name}} {{teacher.last_name}}</h3>
                  <h5>Дещо про вчителя...</h5>
                  <h4>Курс: <a href="{% url 'pages:courses' %}" target="_blank">{{teacher.courses}}</a></h4>
                  <div class="icons d-flex justify-content-center">
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="toggle">
                      <p class="hidden-text content">
                      {% if teacher.body %}
                          {{teacher.body}}
                      {% else %}
                        No info...
                      {% endif %}
                      </p>
                      <button type="submit" class="btn--transparent toggler">
                          Детальніше
                      </button>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      {% else %}
      <h2>No Teachers yet =(...</h2>
      {% endif %}
  </div>
    <div class="row">
      <div class="col-md-3.offset-md-9 pagination pagination">
        {% if teachers.has_other_pages %}
                {% if teachers.has_previous %}
                <a href="?page={{ teachers.previous_page_number }}" class="pagination-item"><i class="fas fa-arrow-left"></i></a>
                {% else %}
                <a href="#" class="pagination-item"><i class="fas fa-arrow-left"></i></a>
                {% endif %}
                    
                    {% for numb in teachers.paginator.page_range %}
                    <a href="?page={{ numb }}" class="pagination-item">{{numb}}</a>
                    {% endfor %}
                {% if teachers.has_next %}
                    <a href="?page={{ teachers.next_page_number }}" class="pagination-item"><i class="fas fa-arrow-right"></i></a>                    
                    {% else %}
                    <a href="#" class="pagination-item"><i class="fas fa-arrow-right"></i></a>
                    {% endif %}
                {% else %}
                {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock content %}