{% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}

<section class="details-card">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Наші викладачі</h2>
      </div>
    </div>
    <div class="row">
      {% if teachers %}
      {% for teacher in teachers %}
      <div class="col-md-4">
          <div class="card-content">
              <div class="card-img">
                  <img src="{% static 'img/user.png' %}" alt="">
              </div>
              <div class="card-desc">
                  <h3>{{teacher.first_name}} {{teacher.last_name}}</h3>
                  <h5>Дещо про вчителя...</h5>
                  <h4>Курс: <a href="{% url 'pages:courses' %}" target="_blank">{{teacher.courses}}</a></h4>
                  <div class="icons d-flex justify-content-center">
                      <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                  </div>
                  <div class="toggle">
                      <p class="hidden-text content">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                          natus facilis ipsam tempore, optio maxime pariatur dolor qui
                          laudantium cum odio modi voluptas ad est porro cupiditate quo
                          tempora repellat.
                      </p>
                      <button type="submit" class="btn--transparent toggler">
                          Детальніше
                      </button>
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}
      {% else %}
      <h2>No Teachers yet =(...</h2>
      {% endif %}
  </div>
    <div class="row">
      <div class="col-md-3.offset-md-9 pagination pagination">
        <a href="#" class="pagination-item"><i class="fas fa-arrow-left"></i></a>
        <a href="#" class="pagination-item">1</a>
        <a href="#" class="pagination-item">2</a>
        <a href="#" class="pagination-item">3</a>
        <a href="#" class="pagination-item">4</a>
        <a href="#" class="pagination-item"><i class="fas fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}