  {% extends "base.html" %}
{% block content %}
{% load static %}
{% include "parts/_internal_header.html" %}

<div class="testimonials">
    <div class="container">
        <div class="row line">
            <h2>Ваші відгуки</h2>
        </div>
        <div class="testimonials-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card-img">
                        <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                            alt="" />
                    </div>
                </div>
                <div class="col-md t_item">
                    <p class="course"><span>Курс: </span>HTML</p>
                    <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                    <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                        просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими, навіть я
                        б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов до
                        своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class='col-md-2'>
                    <h3>Мар'яна Лорем</h3>
                </div>
                <div class="col-md">
                    <div class="data">
                        <i class="far fa-clock"></i>
                        <p>25.04.2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card-img">
                        <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                            alt="" />
                    </div>
                </div>
                <div class="col-md t_item">
                    <p class="course"><span>Курс: </span>HTML</p>
                    <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                    <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                        просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими, навіть я
                        б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов до
                        своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class='col-md-2'>
                    <h3>Мар'яна Лорем</h3>
                </div>
                <div class="col-md">
                    <div class="data">
                        <i class="far fa-clock"></i>
                        <p>25.04.2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card-img">
                        <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                            alt="" />
                    </div>
                </div>
                <div class="col-md t_item">
                    <p class="course"><span>Курс: </span>HTML</p>
                    <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                    <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                        просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими, навіть я
                        б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов до
                        своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class='col-md-2'>
                    <h3>Мар'яна Лорем</h3>
                </div>
                <div class="col-md">
                    <div class="data">
                        <i class="far fa-clock"></i>
                        <p>25.04.2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card-img">
                        <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                            alt="" />
                    </div>
                </div>
                <div class="col-md t_item">
                    <p class="course"><span>Курс: </span>HTML</p>
                    <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                    <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                        просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими, навіть я
                        б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов до
                        своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class='col-md-2'>
                    <h3>Мар'яна Лорем</h3>
                </div>
                <div class="col-md">
                    <div class="data">
                        <i class="far fa-clock"></i>
                        <p>25.04.2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card-img">
                        <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                            alt="" />
                    </div>
                </div>
                <div class="col-md t_item">
                    <p class="course"><span>Курс: </span>HTML</p>
                    <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                    <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                        просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими, навіть я
                        б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов до
                        своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class='col-md-2'>
                    <h3>Мар'яна Лорем</h3>
                </div>
                <div class="col-md">
                    <div class="data">
                        <i class="far fa-clock"></i>
                        <p>25.04.2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonials-item">
            <div class="row">
                <div class="col-md-2">
                    <div class="card-img">
                        <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                            alt="" />
                    </div>
                </div>
                <div class="col-md t_item">
                    <p class="course"><span>Курс: </span>HTML</p>
                    <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                    <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                        просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими, навіть я
                        б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов до
                        своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class='col-md-2'>
                    <h3>Мар'яна Лорем</h3>
                </div>
                <div class="col-md">
                    <div class="data">
                        <i class="far fa-clock"></i>
                        <p>25.04.2020</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3.offset-md-9 pagination pagination">
                <a href="#" class="pagination-item"><i class="fas fa-arrow-left"></i></a>
                <a href="#" class="pagination-item">1</a>
                <a href="#" class="pagination-item">2</a>
                <a href="#" class="pagination-item">3</a>
                <a href="#" class="pagination-item">4</a>
                <a href="#" class="pagination-item"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="about-form">
                <h3>Залиште свій відгук</h3>
                <form action="" method="post">
                    <p>Курс*</p></br>
                    <select>
                        <option>Оберіть курс</option>
                        <option>HTML</option>
                        <option>CSS</option>
                    </select>
                    <p>Викладач*</p></br>
                    <select>
                        <option>Оберіть викладача</option>
                        <option>Іванов Іван Іванович</option>
                        <option>Лорем Мар'яна Вікторівна</option>
                    </select>
                    <p>Залиште свій відгук тут</p></br>
                    <textarea type="text" name="testimonial" id="message" placeholder="Ваш відгук"></textarea>
                    <button type="submit" class="btn--main">Надіслати відгук</button>
                </form>
            </div>
        </div>
    </div>
</div> 
    {% endblock content %}