<section>
    <div class="container">
        <div class="row aboutSection">
            <h2>Про нас</h2>
        </div>
        <div class='row'>
            <p>WebSchool є одним з провідних учасників українського ринку IT-послуг. Ми є надійним партнером, що
                забезпечує
                успішну реалізацію будь-яких, в тому числі і самих складних або масштабних проектів.</p>

            <p>Не секрет, що в умовах сучасного ринку саме надійність є одним з основних критеріїв вибору партнера, що
                працює в IT-сфері. Для того, щоб забезпечувати якісну підтримку, сприяти динамічному розвитку
                клієнтського
                бізнесу, IT-компанія повинна володіти такими якостями, як гнучкість у співпраці, стабільність, здатність
                забезпечувати високу якість кожного процесу в розробці замовленого ПЗ. Зрозуміло, також необхідною
                вимогою є
                висока кваліфікація задіяних в реалізації конкретних проектів IT- фахівців.</p>

            <p>Компанія WebSchool була заснована в 2012 році. Вже сьогодні вона знаходиться в ряду найбільших
                IT-компаній
                України і Європи. Успішна реалізація безлічі масштабних і складних рішень, співпраця з замовниками не
                тільки
                з України, а й з інших країн, дозволяє компанії WebSchool залишатися одним з визнаних лідерів у таких
                сферах, як:</p>
            <div class="about-list">
                <ul>
                    <li>виконання розробки, тестування, підтримки і супроводу замовленого ПЗ, а також бізнес-додатків;
                    </li>
                    <li> організація центрів компетенції, тестування, контролю якості, виділених центрів розробки ПЗ;
                    </li>
                    <li>виконання інтеграції додатків, реалізованих на базі продуктів IBM, Microsoft, SAP, Oracle;</li>
                    <li>консультування з IT-рішенням, що враховує галузеву та іншу специфіку конкретного бізнесу.</li>
                </ul>
            </div>
            <p>Компанія WebSchool своєму розпорядженні великі ресурси, що дозволяє нам пропонувати повний ряд послуг,
                пов’язаних з розробкою корпоративних інформаційних систем.</p>

            <p>У числі наших переваг:</p>
            <div class="about-list">
                <ul>
                    <li>штат талановитих, висококваліфікованих програмістів;</li>
                    <li>компетенції на рівні розробника в новітніх технологіях (отримані в результаті співпраці зі
                        світовими
                        лідерами в області поставок ПО);</li>
                    <li>концентрація компанії на розвиток галузевої і технологічної експертизи, яка забезпечує
                        можливість
                        найбільш повно враховувати специфіку клієнтського бізнесу;</li>
                    <li>наявність чітко працюючих процесів розробки ПЗ та інших видів обслуговування;</li>
                    <li> наявність досвіду реалізації глобальних проектів для підприємств, що працюють в різних галузях;
                    </li>
                    <li>досконале знання специфіки української сфери бізнесу;</li>
                    <li>прозорість, стабільність у співпраці з клієнтом;</li>
                    <li>гарантована ефективність використання матеріальних, а також тимчасових ресурсів клієнта.</li>
                </ul>
            </div>
            <div class="about-form">
                <h3>Залиште свій відгук</h3>
                <form action="" method="post">
                    <p>Курс*</p></br>
                    <select>
                        <option>Оберіть курс</option>
                        <option>HTML</option>
                        <option>CSS</option>
                    </select>
                    <p>Викладач*</p></br>
                    <select>
                        <option>Оберіть викладача</option>
                        <option>Іванов Іван Іванович</option>
                        <option>Лорем Мар'яна Вікторівна</option>
                    </select>
                    <p>Залиште свій відгук тут</p></br>
                    <textarea type="text" name="testimonial" id="message" placeholder="Ваш відгук"></textarea>
                    <button type="submit" class="btn--main">Надіслати відгук</button>
                </form>
            </div>
        </div>
    </div>
</section>