<section class="blog">
    <div class="container">
        <div class="row blog-title">
            <div class="com-12 ">
                <h2>Наші новини</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card-box">
                    <!-- <a href="#"> -->
                    <img src="../img/card-1.jpg" alt="">
                    <!-- </a> -->
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span>238</span>
                            <i class="far fa-clock"></i>
                            <span>10 февраля 2020 в 15:20</span>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card-box">
                    <img src="../img/card-2.jpg" alt="">
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span>344</span>
                            <i class="far fa-clock"></i>
                            <span>07 февраля 2020 в 18:09</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card-box">
                    <img src="../img/card-3.jpg" alt="">
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span>664</span>
                            <i class="far fa-clock"></i>
                            <span>29 января 2020 в 14:49</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card-box">
                    <img src="../img/card-1.jpg" alt="">
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span>664</span>
                            <i class="far fa-clock"></i>
                            <span>29 января 2020 в 14:49</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card-box">
                    <img src="../img/card-2.jpg" alt="">
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span>664</span>
                            <i class="far fa-clock"></i>
                            <span>29 января 2020 в 14:49</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="card-box">
                    <img src="../img/card-3.jpg" alt="">
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span>664</span>
                            <i class="far fa-clock"></i>
                            <span>29 января 2020 в 14:49</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3.offset-md-9 pagination pagination">
                <a href="#" class="pagination-item"><i class="fas fa-arrow-left"></i></a>
                <a href="#" class="pagination-item">1</a>
                <a href="#" class="pagination-item">2</a>
                <a href="#" class="pagination-item">3</a>
                <a href="#" class="pagination-item">4</a>
                <a href="#" class="pagination-item"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>