<div class="main-wrapper container programs-page">
  <h1>Онлайн программы</h1>
  <span id="nesting" class="programs-page">
    <div class="btn--main">Онлайн обучение</div>
    <a href="#" class n="btn--card"
      >Записанные курсы
      <div class="btn__blobs">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </a>
  </span>
  <div class="allCourses programs-page">
    <div class="course">
      <a href="back-end">
        <div class="course-img">
          <img
            src="img/back-end.svg"
            alt="Профессия Back-end разработчик"
            title="Профессия Back-end разработчик"
          />
          <a href="#">
            <div class="button-tag online"># Онлайн</div>
          </a>
          <div class="button-on-course"><i class="fas fa-play"></i></div>
        </div>
        <span class="title_course">Профессия Back-end разработчик</span> </a
      ><br />
      <span class="time-start"
        ><b>Старт:</b> 23 января 2020<br /><b>Уровень:</b> средний
        <i class="fas fa-space-shuttle"></i
      ></span>
    </div>
    <div class="course">
      <a href="python">
        <div class="course-img">
          <img
            src="img/python.svg"
            alt="Профессия Python разработчик"
            title="Профессия Python разработчик"
          />
          <a href="#">
            <div class="button-tag online"># Онлайн</div>
          </a>
          <div class="button-on-course"><i class="fas fa-play"></i></div>
        </div>
        <span class="title_course">Профессия Python разработчик</span> </a
      ><br />
      <span class="time-start"
        ><b>Старт:</b> 30 января 2020<br /><b>Уровень:</b> начинающим
        <i class="fas fa-rocket"></i
      ></span>
    </div>
    <div class="course">
      <a href="java">
        <div class="course-img">
          <img
            src="img/java.svg"
            alt="Профессия Java разработчик"
            title="Профессия Java разработчик"
          />
          <a href="#">
            <div class="button-tag online"># Онлайн</div>
          </a>
          <div class="button-on-course"><i class="fas fa-play"></i></div>
        </div>
        <span class="title_course">Профессия Java разработчик</span> </a
      ><br />
      <span class="time-start"
        ><b>Старт:</b> 20 февраля 2020<br /><b>Уровень:</b> начинающим
        <i class="fas fa-rocket"></i
      ></span>
    </div>
    <div class="course">
      <a href="unity">
        <div class="course-img">
          <img
            src="img/unity.svg"
            alt="Профессия Unity разработчик"
            title="Профессия Unity разработчик"
          />
          <a href="#">
            <div class="button-tag online"># Онлайн</div>
          </a>
          <div class="button-on-course"><i class="fas fa-play"></i></div>
        </div>
        <span class="title_course">Профессия Unity разработчик</span> </a
      ><br />
      <span class="time-start"
        ><b>Старт:</b> 02 марта 2020<br /><b>Уровень:</b> начинающим
        <i class="fas fa-rocket"></i
      ></span>
    </div>
    <div class="course">
      <a href="front-end">
        <div class="course-img">
          <img
            src="img/front-end.svg"
            alt="Профессия Front-end разработчик"
            title="Профессия Front-end разработчик"
          />
          <a href="#">
            <div class="button-tag online"># Онлайн</div>
          </a>
          <div class="button-on-course"><i class="fas fa-play"></i></div>
        </div>
        <span class="title_course"
          >Профессия Front-end разработчик</span
        > </a
      ><br />
      <span class="time-start"
        ><b>Старт:</b> 06 марта 2020<br /><b>Уровень:</b> начинающим
        <i class="fas fa-rocket"></i
      ></span>
    </div>
    <div class="course">
      <a href="full-stack">
        <div class="course-img">
          <img
            src="img/full-stack.svg"
            alt="Профессия Full Stack разработчик"
            title="Профессия Full Stack разработчик"
          />
          <a href="#">
            <div class="button-tag online"># Онлайн</div>
          </a>
          <div class="button-on-course"><i class="fas fa-play"></i></div>
        </div>
        <span class="title_course"
          >Профессия Full Stack разработчик</span
        > </a
      ><br />
      <span class="time-start"
        ><b>Старт:</b> 14 aaa 2020<br /><b>Уровень:</b> начинающий и
        средний <i class="fas fa-laptop-code"></i
      ></span>
    </div>
  </div>
</div>    