<section class="edit">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <h2>Редагування профiлю</h2>
                <div class="wrap">
                    <div class="cube">
                        <div class="front">
                            Front side
                        </div>
                        <div class="back">
                            Back side
                        </div>
                        <div class="top">
                            Top side
                        </div>
                        <div class="bottom">
                            Bottom side
                        </div>
                        <div class="left">
                            Left side
                        </div>
                        <div class="right">
                            Right side
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</section>