<section class="edit">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex">
                <h2>Редагування профiлю</h2>
                <div class="wrap">
                    <div class="cube">
                        <div class="front">
                            Front side
                        </div>
                        <div class="back">
                            Back side
                        </div>
                        <div class="top">
                            Top side
                        </div>
                        <div class="bottom">
                            Bottom side
                        </div>
                        <div class="left">
                            Left side
                        </div>
                        <div class="right">
                            Right side
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
</section>
<section class="edit-item">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="personal-info">
                    <h4>Profile</h4>
                    <div class="photo-box">
                        <img src="../img/photo-profile.jpg" alt="photo">
                    </div>
                    <h4 class="name">Steve Morris</h4>
                    <span>UI/UX Designer</span>
                    <ul class="personal_item">
                        <li class="personal_item_cont">
                            <p>12</p>
                            <span>post</span>
                        </li>
                        <li class="personal_item_cont">
                            <p>11</p>
                            <span>messages</span>
                        </li>
                        <li class="personal_item_cont">
                            <p>7</p>
                            <span>members</span>
                        </li>
                    </ul>
                    <button class="btn--main">Upload new photo</button>
                    <button class="btn--card">Delete</button>
                    <p class="descr-info">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat nesciunt excepturi
                        illum nostrum, reprehenderit ducimus, sit mollitia voluptas, ad accusamus veritatis quo. Velit
                        reprehenderit animi.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="basic-info">
                    <div class="btn-box">
                        <h4>Основка інформація</h4>
                        <div class="buttons">
                            <button class="btn--card">Видалити</button>
                            <button class="btn--main">Зберегти зміни</button>
                        </div>

                    </div>
                    <form action="#">
                        <label for="your-name">Ваше имя:</label></br>
                        <input type="text" id="your-name" value="" placeholder=" ">
                        <label for="your-name">Ваша фамилия:</label></br>
                        <input type="text" id="your-surname" value="" placeholder=" ">
                        <input type="email" id="email" name="">
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>