<footer>
    <div class="container">
        <div class="row footer-top">
            <div class="col-md-4">
                <i class="fas fa-map-marker-alt"></i>
                <br>
                <hr>
                <p>вулиця Соборна, 16, Рівне, Рівненська область, Україна 33000</p>
            </div>
            <div class="col-md-4">    
                <i class="fas fa-phone"></i>
                <br>
                <hr>                          
                <p>(097) 777-77-77
                <br>
                (073) 777-77-77
                <br>
               (050) 777-77-77</p>

            </div>
            <div class="col-md-4">
                <i class="far fa-envelope"></i>
                <br>
                <hr>
                <p>Підписатися на новини</p>
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                      <label for="inputPassword2" class="sr-only">Password</label>
                      <input type="email" class="form-control" id="email" placeholder="e-mail">
                    </div>
                    <button type="submit" class="btn--main">Підписатись</button>
                  </form>
            </div>         
        </div>
       
    </div>
    <div class="container-fluid">
        <div class="row footer-bottom">
            <div class="col d-flex justify-content-center">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
                <a href="#"><i class="fab fa-viber"></i></a>                 
            </div>
        </div>

    </div>
</footer>