<footer>
    <div class="container">
        <div class="row ">
            <div class="col-md-4">
                <p>вулиця Соборна, 16, Рівне, Рівненська область, Україна 33000</p>
            </div>
            <div class="col-md-4">                              
                <p>(097) 777-77-77
                <br>
                (073) 777-77-77
                <br>
               (050) 777-77-77</p>
               
            </div>
            <div class="col-md-4">
                <p>Підписатися на новини</p>
            </div>         
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fab fa-telegram-plane"></i></a>
                <a href="#"><i class="fab fa-viber"></i></a>                 
            </div>
        </div>
    </div>
</footer>