<main class="main">
    <div class="container-fluid main-bg-color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="course-title">Комплексні курси</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 course-item">
                    <a href="course_page.html">
                        <img src="img/back-end.svg" alt="Профессия Back-end разработчик" />
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="course_page.html">
                        <img src="img/python.svg" alt="Профессия Python разработчик"
                            title="Профессия Python разработчик" />
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="course_page.html">
                        <img src="img/java.svg" alt="Профессия Java разработчик" title="Профессия Java разработчик" />
                    </a>
                </div>
                <div class="col-md-3 course-item">
                    <a href="course_page.html">
                        <img src="img/unity.svg" alt="Профессия Unity разработчик"
                            title="Профессия Unity разработчик" />
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 course-btn">
                    <a href="courses.html" class="btn--card">Усі курси</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="teachers-title">Наші викладачі</h2>
                </div>
            </div>
            <div class="row details-card">
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <div class="card-desc">
                            <h3>Анастасія Українка</h3>
                            <h5>Викладач Web-school</h5>
                            <h4>Курс: HTML/CSS</h4>
                            <div class="icons d-flex justify-content-center">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="toggle">
                                <p class="hidden-text content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                                    natus facilis ipsam tempore, optio maxime pariatur dolor qui
                                    laudantium cum odio modi voluptas ad est porro cupiditate quo
                                    tempora repellat.
                                </p>
                                <button type="submit" class="btn--transparent toggler">
                                    Детальніше
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <div class="card-desc">
                            <h3>Анастасія Українка</h3>
                            <h5>Викладач Web-school</h5>
                            <h4>Курс: HTML/CSS</h4>
                            <div class="icons d-flex justify-content-center">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="toggle">
                                <p class="hidden-text content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                                    natus facilis ipsam tempore, optio maxime pariatur dolor qui
                                    laudantium cum odio modi voluptas ad est porro cupiditate quo
                                    tempora repellat.
                                </p>
                                <button type="submit" class="btn--transparent toggler">
                                    Детальніше
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <div class="card-desc">
                            <h3>Анастасія Українка</h3>
                            <h5>Викладач Web-school</h5>
                            <h4>Курс: HTML/CSS</h4>
                            <div class="icons d-flex justify-content-center">
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </div>
                            <div class="toggle">
                                <p class="hidden-text content">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                                    natus facilis ipsam tempore, optio maxime pariatur dolor qui
                                    laudantium cum odio modi voluptas ad est porro cupiditate quo
                                    tempora repellat.
                                </p>
                                <button type="submit" class="btn--transparent toggler">
                                    Детальніше
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 teachers-btn">
                    <a href="teachers.html" class="btn--transparent">Усі викладачі</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid main-bg-color3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="testimonials-title">Відгуки</h2>
                </div>
            </div>
            <div class="row">
                <div class="testimonials-item">
                    <div class="col-md">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <h3>Мар'яна Лорем</h3>
                        <p class="course"><span>Курс: </span>HTML</p>
                        <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                        <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                            просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими,
                            навіть я
                            б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов
                            до
                            своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                        </p>
                        <div class="data">
                            <i class="far fa-clock"></i>
                            <p>25.04.2020</p>
                        </div>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="col-md">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <h3>Мар'яна Лорем</h3>
                        <p class="course"><span>Курс: </span>HTML</p>
                        <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                        <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                            просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими,
                            навіть я
                            б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов
                            до
                            своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                        </p>
                        <div class="data">
                            <i class="far fa-clock"></i>
                            <p>25.04.2020</p>
                        </div>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="col-md">
                        <div class="card-img">
                            <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
                                alt="" />
                        </div>
                        <h3>Мар'яна Лорем</h3>
                        <p class="course"><span>Курс: </span>HTML</p>
                        <p class='teacher'><span>Викладач: </span>Іванов Іван Іванович</p>
                        <p>Успішно пройшла я курс по . Наставляв мій темний і ще не обізнаний розум шикарний викладач, і
                            просто хороша людина – Іванов Іван Іванович. Із ним, складні речі ставалими простішими,
                            навіть я
                            б сказав, до сміху простими. Індивідуальний підхід до кожного із учнів, самовіддача і любов
                            до
                            своєї роботи. Підтримка у позаурочний час, завжди щось підкаже і розкаже.
                        </p>
                        <div class="data">
                            <i class="far fa-clock"></i>
                            <p>25.04.2020</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 testimonials-btn">
                    <a href="testimonials.html" class="btn--main">Усі відгуки</a>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container-fluid main-bg-color4">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="price-title">Ціни</h2>
                    <p>Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="price-item">
                        <h3 class="price-item__title">Самостійне проходження</h3>
                        <div class="price-item__pr">
                            <span class="currency">$</span><span class="number">120</span>
                        </div>
                        <div class="price-item__desc">
                            <p>Lorem ipsum dolor, sit amet consectetur...</p>
                            <a href="#" target="_blank">Більше</a>                          
                        </div>
                        <a class="btn--card" href="#">Buy Now</a>                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-item price-item2">
                        <h3 class="price-item__title">Курс з перевіркою</h3>
                        <div class="price-item__pr">
                            <span class="currency">$</span><span class="number">180</span>
                        </div>
                        <div class="price-item__desc">
                            <p>Lorem ipsum dolor, sit amet consectetur...</p>
                            <a href="#" target="_blank">Більше</a>                          
                        </div>
                        <a class="btn--card" href="#">Buy Now</a>                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-item price-item3">
                        <h3 class="price-item__title">VIP</h3>
                        <div class="price-item__pr">
                            <span class="currency">$</span><span class="number">240</span>
                        </div>
                        <div class="price-item__desc">
                            <p>Lorem ipsum dolor, sit amet consectetur...</p>
                            <a href="#" target="_blank">Більше</a>                          
                        </div>
                        <a class="btn--card" href="#">Buy Now</a>                        
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <div class="container-fluid main-bg-color5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="blog-title">Наші новини</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card-box">
                        <img src="../img/card-1.jpg" alt="">
                        <div class="card-box-container">
                            <h4>Lorem ipsum dolor</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                                corrupti
                                quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt
                                ullam,
                                placeat corporis. Voluptatibus, praesentium.</p>
                            <div class="card-box-item">
                                <i class="fas fa-eye"></i>
                                <span>238</span>
                                <i class="far fa-clock"></i>
                                <span>10 февраля 2020 в 15:20</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card-box">
                        <img src="../img/card-2.jpg" alt="">
                        <div class="card-box-container">
                            <h4>Lorem ipsum dolor</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                                corrupti
                                quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt
                                ullam,
                                placeat corporis. Voluptatibus, praesentium.</p>
                            <div class="card-box-item">
                                <i class="fas fa-eye"></i>
                                <span>344</span>
                                <i class="far fa-clock"></i>
                                <span>07 февраля 2020 в 18:09</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card-box">
                        <img src="../img/card-3.jpg" alt="">
                        <div class="card-box-container">
                            <h4>Lorem ipsum dolor</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                                corrupti
                                quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt
                                ullam,
                                placeat corporis. Voluptatibus, praesentium.</p>
                            <div class="card-box-item">
                                <i class="fas fa-eye"></i>
                                <span>664</span>
                                <i class="far fa-clock"></i>
                                <span>29 января 2020 в 14:49</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 blog-btn">
                    <a href="new-blog.html" class="btn--transparent">Усі новини</a>
                </div>
            </div>
        </div>
    </div>
</main>