<div class="container av_couses">
    <div class='row'>
        <h1>Всі доступні курси</h1>
    </div>
    <div class="row flex-md-wrap list">
        <div class="col  col-md-6 col-xl-8">
            <div class="list-box">
                <a href="one-lesson.html">Безкоштовні html курси</a>
                <p>10 уроків</p>
                <a href="one-lesson.html">Безкоштовні JavaScript курси</a>
                <p>12 уроків</p>
            </div>
            <button type="submit" class="btn--card"><a href="user_profile.html">Повернутися в особистий кабінет</a></button>
        </div>
        <div class="col   col-md-6 col-xl-4 justify-content-center">
            <div class="connect-us">
                <h4>Підключайтеся і спілкуйтеся з нами, де Вам зручно:</h4>
                <a href="#"><i class="fab fa-facebook-f"></i>Facebook</a> <br>
                <a href="#"><i class="fab fa-instagram"></i>Instagram</a><br>
                <a href="#"><i class="fab fa-telegram-plane"></i>Telegram Bot</a><br>
                <a href="#"><i class="fab fa-viber"></i>Viber</a>
            </div>
            <!-- <div class="connect-us-bottom">
                <h4>Ваш профіль</h4>
                <p>UserName, розкажіть про себе</p>
                <p>Оберіть своє місто:</p>
                <form>
                    <div class="form-group">
                        <select name="hero" class="available_courses">
                            <optgroup label="">
                                <option value="s1" selected></option>
                                <option value="s2">Рівне</option>
                                <option value="s3">Київ</option>
                                <option value="s3">Львів</option>
                        </select>
                    </div>
                    <button type="submit" class="btn--main">Оновити профіль</button>
                </form>
            </div> -->
        </div>
    </div>
</div>