<section class="blog">
    <div class="container">
        <div class="row">
            <h2>Наші новини</h2>
            <div class="blog-container">
                <div class="col-md-4 card-box">
                    <!-- <a href="#"> -->
                    <img src="../img/card-1.jpg" alt="">
                    <!-- </a> -->
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span></span>
                            <i class="far fa-clock"></i>
                            <span></span>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 card-box">
                    <img src="../img/card-2.jpg" alt="">
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span></span>
                            <i class="far fa-clock"></i>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 card-box">
                    <img src="../img/card-3.jpg" alt="">
                    <div class="card-box-container">
                        <h4>Lorem ipsum dolor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                            corrupti
                            quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                            placeat corporis. Voluptatibus, praesentium.</p>
                        <div class="card-box-item">
                            <i class="fas fa-eye"></i>
                            <span></span>
                            <i class="far fa-clock"></i>
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>