<section class="blog">
    <div class="container">
        <div class="row">
            <div class="com-12 blog-title">
                <h2>Наші новини</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-12 card-box">
                <!-- <a href="#"> -->
                <img src="../img/card-1.jpg" alt="">
                <!-- </a> -->
                <div class="card-box-container">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                        corrupti
                        quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                        placeat corporis. Voluptatibus, praesentium.</p>
                    <div class="card-box-item">
                        <i class="fas fa-eye"></i>
                        <span>238</span>
                        <i class="far fa-clock"></i>
                        <span>10 февраля 2020 в 15:20</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12 card-box">
                <img src="../img/card-2.jpg" alt="">
                <div class="card-box-container">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                        corrupti
                        quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                        placeat corporis. Voluptatibus, praesentium.</p>
                    <div class="card-box-item">
                        <i class="fas fa-eye"></i>
                        <span>344</span>
                        <i class="far fa-clock"></i>
                        <span>07 февраля 2020 в 18:09</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 card-box">
                <img src="../img/card-3.jpg" alt="">
                <div class="card-box-container">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                        corrupti
                        quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                        placeat corporis. Voluptatibus, praesentium.</p>
                    <div class="card-box-item">
                        <i class="fas fa-eye"></i>
                        <span>664</span>
                        <i class="far fa-clock"></i>
                        <span>29 января 2020 в 14:49</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 card-box">
                <!-- <a href="#"> -->
                <img src="../img/card-1.jpg" alt="">
                <!-- </a> -->
                <div class="card-box-container">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                        corrupti
                        quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                        placeat corporis. Voluptatibus, praesentium.</p>
                    <div class="card-box-item">
                        <i class="fas fa-eye"></i>
                        <span>238</span>
                        <i class="far fa-clock"></i>
                        <span>10 февраля 2020 в 15:20</span>
                    </div>
                </div>

            </div>
            <div class="col-md-4 col-sm-12 card-box">
                <img src="../img/card-2.jpg" alt="">
                <div class="card-box-container">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                        corrupti
                        quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                        placeat corporis. Voluptatibus, praesentium.</p>
                    <div class="card-box-item">
                        <i class="fas fa-eye"></i>
                        <span>344</span>
                        <i class="far fa-clock"></i>
                        <span>07 февраля 2020 в 18:09</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 card-box">
                <img src="../img/card-3.jpg" alt="">
                <div class="card-box-container">
                    <h4>Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus id voluptatum, in
                        corrupti
                        quasi sunt distinctio, odit facilis nihil neque inventore sit quos facere deserunt ullam,
                        placeat corporis. Voluptatibus, praesentium.</p>
                    <div class="card-box-item">
                        <i class="fas fa-eye"></i>
                        <span>664</span>
                        <i class="far fa-clock"></i>
                        <span>29 января 2020 в 14:49</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 pagination">
                <span></span>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
                <span></span>
            </div>
        </div>
    </div>
</section>