
<section class="one-lesson">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="../available_courses.html">Список курсів</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="#"><h1>HTML</h1></a>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>Завдання 2</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 prev">
                <a href="#">Попередній урок</a> <br>
                <p>Завдання 1</p>
            </div>
            <div class="col-md-4 now">
                <p>2 зі 10 уроків</p>
                <h3>Є завдання</h3>
            </div>
            <div class="col-md-4 next">
                <a href="#">Наступний урок</a><br>
                <p>Завдання 3</p>
            </div>
        </div>
        <hr>
    </div>
</section>