<section class="one-lesson">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Курс HTML</h2>
            </div>
            <div class="col-md-3"><a href="available_courses.html">Повернутися до списку курсів</a></div>
        </div>
        <!-- <div class="row">
            <div class="col">
                <a href="../available_courses.html">Список курсів</a>
            </div>
        </div> -->
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>Урок 2</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 prev">
                <a href="#">Попередній урок</a> <br>
                <p>Урок 1</p>
            </div>
            <div class="col-md-4 now">
                <p>2 зі 10 уроків</p>
                <!-- <h3>Є завдання</h3> -->
            </div>
            <div class="col-md-4 next">
                <a href="#">Наступний урок</a><br>
                <p>Урок 3</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <iframe width="700" height="350" src="https://www.youtube.com/embed/LDo_VL2mEHU" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

        </div>
        <hr>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <h2>Теорія</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates temporibus praesentium ex velit
                    ipsum voluptatibus eius rem molestias asperiores, tempora, autem atque vitae voluptatem commodi, est
                    magnam animi accusamus magni!
                    Corporis unde sunt fuga beatae voluptatem facilis aliquid, ipsum itaque vero ducimus aliquam quasi
                    cumque aut soluta repudiandae expedita odit! Molestiae omnis quidem, fugit blanditiis maxime et.
                    Quis, dicta itaque?
                    Dolorum iusto voluptate officiis quam quaerat nihil nobis corporis atque tempora? Veniam repudiandae
                    enim ducimus iure perferendis voluptatum ipsum, eius aliquam fuga et a impedit, eveniet aperiam
                    rerum dolorum accusantium?
                    Nemo veniam ipsam explicabo debitis sequi corrupti ipsa, nisi est earum animi quod unde fuga eveniet
                    laboriosam? Corporis mollitia atque repudiandae id quaerat quae quod, rem itaque, nobis soluta
                    tenetur?
                    Labore numquam, nobis amet illo aliquid eligendi, eveniet ex esse pariatur harum facere quo non
                    optio distinctio voluptatem libero ad qui veniam iste? Commodi debitis, laborum at incidunt eligendi
                    placeat.
                    Itaque facere non voluptas similique expedita omnis id, eaque necessitatibus dolorem sapiente totam
                    nulla inventore voluptatem optio voluptatibus dolorum soluta aperiam illo explicabo repellendus
                    neque rem aut dicta. Animi, exercitationem.
                    Modi eos delectus quas laboriosam ipsam voluptate nostrum quia vitae praesentium amet natus quae
                    repellat nemo error dolores omnis eveniet molestiae qui quasi, temporibus at eius nihil tenetur
                    quidem. Odit?
                    Qui soluta, culpa officia assumenda quas eos et iusto quae, rem consectetur blanditiis deleniti
                    exercitationem consequatur nemo. Voluptatem, magnam. Laboriosam eligendi ut tempore quis totam
                    nesciunt, vero fuga voluptas porro.
                    Illum ut assumenda consectetur excepturi consequatur, blanditiis aspernatur cumque totam, alias,
                    laborum porro pariatur aperiam provident dolorum praesentium explicabo omnis! Illum voluptatum
                    molestias laudantium ipsa expedita at veniam quasi quo?
                    Laborum, eos. Rerum minus quisquam quo ipsum dolore nam. Debitis, voluptatem. Officiis ipsam,
                    mollitia deleniti perferendis ad facere minima hic exercitationem maiores dolorem. Provident illum
                    neque aperiam odio, molestiae quaerat.
                    Consequuntur exercitationem, officiis ipsa aspernatur veritatis eligendi iusto, est doloremque rerum
                    vitae, soluta quisquam quos at porro libero! Cupiditate consequuntur numquam rerum voluptatibus
                    dignissimos officia quis, natus impedit distinctio odio.
                    Perferendis enim, illum dolores ducimus iure, libero nesciunt maiores eos molestias dicta
                    necessitatibus doloremque voluptate placeat similique expedita possimus quod omnis vitae incidunt.
                    Corporis, quibusdam quas harum excepturi dolorum earum?
                    Rerum perspiciatis quo consequuntur nulla odio quos ipsa, rem corporis, laboriosam vitae cum eius?
                    Illo exercitationem eligendi fuga repellendus veniam corrupti sed nesciunt laboriosam modi aliquid
                    dolorum, harum quae nisi.
                    Facilis quaerat laudantium vitae sed, aut provident rerum aspernatur voluptate, quisquam, omnis sunt
                    impedit. Earum architecto non temporibus eos cum fuga obcaecati sed sit ipsa voluptates! Sint
                    laborum sapiente dolorum?
                    Quidem ea veritatis dolorem iure, accusamus nihil veniam natus, perferendis aspernatur quo qui
                    officia porro quia, quod tenetur. Animi quidem minima, dicta exercitationem hic molestiae veritatis
                    illum cum eius maiores?
                    Consequuntur accusantium nesciunt aspernatur reiciendis doloremque quas saepe inventore sit placeat
                    culpa repellendus dicta recusandae dolore officia quidem voluptatum molestias vel mollitia
                    similique, explicabo optio libero aliquam id asperiores. Temporibus.
                    Libero iusto earum aliquam maiores eos delectus quas, labore ad in? Aliquid quae assumenda error
                    autem reprehenderit molestias, soluta accusamus laboriosam dignissimos, tempore, id repudiandae
                    fugiat incidunt ea aspernatur illo.
                    Earum corporis cum maiores corrupti voluptatem quae ipsum praesentium est numquam repellat itaque,
                    reprehenderit eius veritatis, officia nemo cumque explicabo dignissimos? Corrupti, doloribus alias
                    error amet minus nihil laboriosam iusto.
                    Nisi accusamus illum nemo esse distinctio dicta sunt vel vero harum magnam labore temporibus minima
                    aut consequatur dolorum doloremque, at voluptatum, repellat iure. Ex ducimus quas molestiae incidunt
                    ipsam laborum!
                    Saepe quasi qui facilis tenetur neque adipisci aspernatur iure ratione commodi temporibus, ipsam
                    vero illum labore est, atque officia placeat, libero corrupti blanditiis! Mollitia reiciendis quod
                    repellat alias provident hic.
                    Facilis doloremque minima incidunt eos fuga nihil iure voluptatibus harum sequi laudantium cumque
                    corrupti omnis maxime accusantium tenetur, magni delectus veniam perferendis asperiores tempora
                    neque aliquam consectetur placeat? Ipsam, obcaecati!</p>
            </div>
        </div>
        <div class="row home_work">
            <div class="col">
                <h2>Завдання</h2>
            </div>
        </div>
        <div class="row">
            <div class="col homework ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime unde repudiandae, facere nostrum
                    dolorem ipsam accusamus in magni. Corporis, repellendus!
                    Ipsa unde nobis, a eos maiores molestiae voluptate quaerat facilis asperiores ipsam! Incidunt vel
                    dolores cupiditate accusantium quisquam.</p>
                <form action="" method="post">

                    <textarea name="one-lesson" id="message" placeholder="Ваша відповідь"></textarea>
                    <div><button type="submit" class="btn--transparent">Додати файли</button>
                        <p>*максимальний розмір файлу 100мб</p>
                    </div>
                    <div class="send_file">
                        <a href="#"> Зберегти
                            чернетку</a>
                        <button type="submit" class="btn--main">Відправити відповідь</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>