<div class="container-fluid profile_1">
    <div class="container">
        <div class="row title">
            <div class="col-md-4">
                <h2>Кабінет студента</h2>
            </div>
        </div>
    </div>
</div>
<div class="container profile_2">
    <div class="row">
        <div class="col-md-5">
            <div class="personal-info">
                <div class="photo-box">
                    <img src="../img/photo-profile.jpg" alt="photo">
                </div>
                <h4 class="name">Steve Morris</h4>
                <span>UI/UX Designer</span>
                <ul class="personal_item">
                    <li class="personal_item_cont">
                        <p>12</p>
                        <span>розпочатих курсів</span>
                    </li>
                    <li class="personal_item_cont">
                        <p>11</p>
                        <span>здано домашніх робіт</span>
                    </li>
                    <li class="personal_item_cont">
                        <p>7</p>
                        <span>оцінено домашніх робіт</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <div>
                <h4>Про себе :</h4>
                <p class="descr-info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate repellat nesciunt excepturi
                    illum nostrum, reprehenderit ducimus, sit mollitia voluptas, ad accusamus veritatis quo. Velit
                    reprehenderit animi.
                </p>
            </div>
            <div>
                <h4>Курси :</h4>
                <ul>
                    <li class="start_course">Курс "HTML5"</li>
                    <li class="finish_course">Курс "Java Script"</li>
                    <li class="soon_course">Курс "CSS"</li>
                </ul>
            </div>
            <div>
                <h4>Email :</h4>
                <p>email@gmail.com</p>
            </div>
            <div>
                <h4>Соціальні мережі:</h4>
                <ul>
                    <li>Facebook URL</li>
                    <li>Twitter URL</li>
                    <li>LinkedIn URL</li>
                    <li>Google+ URL</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md offset-md-1">
            <button class="btn--main edit_button" type="submit">Редагувати дані</button>
        </div>
    </div>
</div>
