<div class="registration">
    <section class="title">
        <div class="title-container">
            <h1 class="title-heading">зареєструвати особистий кабінет</h1>
            <span class="title-sub-heading ">
                Особистий кабінет потрібен Вам для того, щоб мати можливість відправити заявку на вакансію,
                зареєструватись на курси або сертифікацію, слідкувати за статусом своєї заявки, а також задавати питання
                викладачам
            </span>
        </div>
    </section>
    <div class="registration-form">
        <form>
            <div class="field-container">
                <select>
                    <option>Я викладач</option>
                    <option>Я студент</option>
                </select>
            </div>
            <div class="field-container">
                <input type="text" placeholder="Ваше ім'я*" class="">
            </div>
            <div class="field-container">
                <input type="text" placeholder="Ваше прізвище*" class="">
            </div>
            <div class="field-container">
                <input type="email" placeholder="Електронна адреса*" class="">
            </div>
            <div class="field-container">
                <input type="password" placeholder="Пароль*" class="">
            </div>
            <div class="field-container">
                <input type="password" placeholder="Підтвердити пароль*" class="">
            </div>
            <div class="registration-form-button">
                <button type="submit" class="btn--main">Створити профіль</button>
            </div>
        </form>
        <div class="t-center">
            <div class="social">
                <div class="have-account">Вже зареєстровані?
                    <a href="../sign_in.html">Вхід</a>
                </div>
            </div>
        </div>
    </div>
</div>