<div class="container">
    <div class="row">
        <div class="user-block">
            <h1 class="heading">Авторизація</h1>
            <form>
                <div class="form-submit">
                    <input type="email" placeholder="e-mail">
                    <input type="password" placeholder="password">
                </div>
                <button type="submit" class="btn--main">Зайти в особистий кабінет</button>
            </form>
            <div id="forgot_password"></div>
                <button type="submit" class="btn--transparent">Забули пароль?</button>
            </div>
        </div>
    </div>
</div>
