<div class="container teachers">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <h1>Наші викладачі</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="portret">
                <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
            </div>
            <div id="div1" class="info ">
                <h3>Анастасія Українка</h3>
                <h5>Викладач Web-school</h5>
                <h4>Курс: HTML/CSS</h4>
                <div class="icons d-flex justify-content-center">
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </div> 
                <p id="hidden-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, natus facilis ipsam tempore, optio maxime pariatur dolor qui laudantium cum odio modi voluptas ad est porro cupiditate quo tempora repellat.</p>              
            </div>
            <div class="learn-more d-flex justify-content-center">
                <button id="button1" type="submit"  class="btn--transparent" onclick="down()">Детальніше про викладача</button>
                <button id="button2" type="submit"  class="btn--transparent" onclick="up()">Згорнути інформацію</button>
            </div>
       
        </div>
        <div class="col-md-4">
            <div class="portret">
                <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
            </div>
        </div>
        <div class="col-md-4">
            <div class="portret">
                <img src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80" alt="">
            </div>
        </div>
    </div>
</div>
