<section class="details-card">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Наші викладачі</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
              alt="" />
          </div>
          <div class="card-desc">
            <h3>Анастасія Українка</h3>
            <h5>Викладач Web-school</h5>
            <h4>Курс: HTML/CSS</h4>
            <div class="icons d-flex justify-content-center">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="toggle">
              <p class="hidden-text content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                natus facilis ipsam tempore, optio maxime pariatur dolor qui
                laudantium cum odio modi voluptas ad est porro cupiditate quo
                tempora repellat.
              </p>
              <button type="submit" class="btn--transparent toggler">
                Детальніше
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
              alt="" />
          </div>
          <div class="card-desc">
            <h3>Анастасія Українка</h3>
            <h5>Викладач Web-school</h5>
            <h4>Курс: HTML/CSS</h4>
            <div class="icons d-flex justify-content-center">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="toggle">
              <p class="hidden-text content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                natus facilis ipsam tempore, optio maxime pariatur dolor qui
                laudantium cum odio modi voluptas ad est porro cupiditate quo
                tempora repellat.
              </p>
              <button type="submit" class="btn--transparent toggler">
                Детальніше
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
              alt="" />
          </div>
          <div class="card-desc">
            <h3>Анастасія Українка</h3>
            <h5>Викладач Web-school</h5>
            <h4>Курс: HTML/CSS</h4>
            <div class="icons d-flex justify-content-center">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="toggle">
              <p class="hidden-text content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                natus facilis ipsam tempore, optio maxime pariatur dolor qui
                laudantium cum odio modi voluptas ad est porro cupiditate quo
                tempora repellat.
              </p>
              <button type="submit" class="btn--transparent toggler">
                Детальніше
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
              alt="" />
          </div>
          <div class="card-desc">
            <h3>Анастасія Українка</h3>
            <h5>Викладач Web-school</h5>
            <h4>Курс: HTML/CSS</h4>
            <div class="icons d-flex justify-content-center">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="toggle">
              <p class="hidden-text content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                natus facilis ipsam tempore, optio maxime pariatur dolor qui
                laudantium cum odio modi voluptas ad est porro cupiditate quo
                tempora repellat.
              </p>
              <button type="submit" class="btn--transparent toggler">
                Детальніше
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
              alt="" />
          </div>
          <div class="card-desc">
            <h3>Анастасія Українка</h3>
            <h5>Викладач Web-school</h5>
            <h4>Курс: HTML/CSS</h4>
            <div class="icons d-flex justify-content-center">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="toggle">
              <p class="hidden-text content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                natus facilis ipsam tempore, optio maxime pariatur dolor qui
                laudantium cum odio modi voluptas ad est porro cupiditate quo
                tempora repellat.
              </p>
              <button type="submit" class="btn--transparent toggler">
                Детальніше
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card-content">
          <div class="card-img">
            <img
              src="https://images.unsplash.com/photo-1493666438817-866a91353ca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1349&q=80"
              alt="" />
          </div>
          <div class="card-desc">
            <h3>Анастасія Українка</h3>
            <h5>Викладач Web-school</h5>
            <h4>Курс: HTML/CSS</h4>
            <div class="icons d-flex justify-content-center">
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="toggle">
              <p class="hidden-text content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto,
                natus facilis ipsam tempore, optio maxime pariatur dolor qui
                laudantium cum odio modi voluptas ad est porro cupiditate quo
                tempora repellat.
              </p>
              <button type="submit" class="btn--transparent toggler">
                Детальніше
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-3.offset-md-9 pagination pagination">
          <a href="#" class="pagination-item"><i class="fas fa-arrow-left"></i></a>
          <a href="#" class="pagination-item">1</a>
          <a href="#" class="pagination-item">2</a>
          <a href="#" class="pagination-item">3</a>
          <a href="#" class="pagination-item">4</a>
          <a href="#" class="pagination-item"><i class="fas fa-arrow-right"></i></a>
        </div>
      </div>
  </div>
</section>