<div class="testimonials">
    <div class="container">
        <div class="row">
            <h1>Ваші відгуки</h1>
        </div>
        <div class="row">
            <div class="testimonials-item">
                <div class="testimonial-box">
                    <h3>John Florida</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia omnis vitae architecto
                        atque quaerat maxime deleniti, nulla explicabo sit aspernatur iste? Quia, aperiam provident
                        harum minima odit sapiente excepturi.</p>
                    <hr>
                </div>
                <div class="testimonial-box">
                    <h3>John Florida</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia omnis vitae architecto
                        atque quaerat maxime deleniti, nulla explicabo sit aspernatur iste? Quia, aperiam provident
                        harum minima odit sapiente excepturi.</p>
                    <hr>
                </div>
                <div class="testimonial-box">
                    <h3>John Florida</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia omnis vitae architecto
                        atque quaerat maxime deleniti, nulla explicabo sit aspernatur iste? Quia, aperiam provident
                        harum minima odit sapiente excepturi.</p>
                    <hr>
                </div>
                <div class="testimonial-box">
                    <h3>John Florida</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia omnis vitae architecto
                        atque quaerat maxime deleniti, nulla explicabo sit aspernatur iste? Quia, aperiam provident
                        harum minima odit sapiente excepturi.</p>
                    <hr>
                </div>
                <div class="testimonial-box">
                    <h3>John Florida</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia omnis vitae architecto
                        atque quaerat maxime deleniti, nulla explicabo sit aspernatur iste? Quia, aperiam provident
                        harum minima odit sapiente excepturi.</p>
                    <hr>
                </div>
                <!-- <div class="testimonial-box">
                    <h3>John Florida</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia omnis vitae architecto
                        atque quaerat maxime deleniti, nulla explicabo sit aspernatur iste? Quia, aperiam provident
                        harum minima odit sapiente excepturi.</p>
                    <hr>
                </div>
                <div class="testimonial-box">
                    <h3>John Florida</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quia omnis vitae architecto
                        atque quaerat maxime deleniti, nulla explicabo sit aspernatur iste? Quia, aperiam provident
                        harum minima odit sapiente excepturi.</p>
                    <hr>
                </div> -->
                <!-- <div class="testimonial-form">
                    <h3>Оставте Ваш отзыв</h3>
                    <form action="" method="post">
                        <p>Имя, Страна</p></br>
                        <input type="text" id="name" placeholder=" Имя, Страна ">
                        <p>Оставте Ваш отзыв здесь</p></br>
                        <textarea name="testimonial" id="message" placeholder="Ваше сообщение"></textarea>
                        <button type="submit" class="btn--card">Отправить отзыв</button>
                    </form>
                </div> -->
            </div>
        </div>
        <div class="row">
            <div class="about-form">
                <h3>Залиште свій відгук</h3>
                <form action="" method="post">
                    <p>Ім'я</p></br>
                    <input type="text" id="name" placeholder="Ім'я">
                    <p>Залиште свій відгук тут</p></br>
                    <textarea type="text" name="testimonial" id="message" placeholder="Ваш відгук"></textarea>
                    <button type="submit" class="btn--main">Надіслати відгук</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3.offset-md-9 pagination pagination">
                <a href="#" class="pagination-item"><i class="fas fa-arrow-left"></i></a>
                <a href="#" class="pagination-item">1</a>
                <a href="#" class="pagination-item">2</a>
                <a href="#" class="pagination-item">3</a>
                <a href="#" class="pagination-item">4</a>
                <a href="#" class="pagination-item"><i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>