<header>
  <div class="container">
    <div class="head-line">
      <div class="logo">
        <a href="#">
          <img src="../img/logo5.png" alt="">
        </a>
        <a href="#">
          <h1><span>Web</span>school</h1>
        </a>
      </div>
      <div class="menu">
        <nav>
          <ul>
            <li><a class="active" href="#">Онлайн-курси</a></li>
            <li><a href="#">Вiдгуки</a></li>
            <li><a href="#">Наш блог</a></li>
            <li><a href="#">Викладачi</a></li>
            <li><a href="#">Вартiсть навчання</a></li>
            <li><a href="#">Контакти</a></li>
            <li><a href="signIn.html">Реєстрацiя</a></li>
            <li><a href="#">Вхiд</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>