{% extends "base.html" %}
{% block content %}
{% include "parts/_internal_header.html" %}
{% load static %}
<div class="registration">
    <section class="title">
        <div class="title-container">
            <h1 class="title-heading">зареєструвати особистий кабінет</h1>
            <span class="title-sub-heading ">
                Особистий кабінет потрібен Вам для того, щоб мати можливість відправити заявку на вакансію,
                зареєструватись на курси або сертифікацію, слідкувати за статусом своєї заявки, а також задавати питання
                викладачам
            </span>
        </div>
    </section>
    <div class="registration-form">
        <form action="{% url 'accounts:registration' %}" method="POST">
        {% csrf_token %}
            <div class="field-container">
                <select name= 'stuff'>
                    <option>Я викладач</option>
                    <option>Я студент</option>
                </select>
            </div>
            <div class="field-container">
                <input type="text" name="first_name" placeholder="Ваше ім'я*" class="">
            </div>
            <div class="field-container">
                <input type="text" name="last_name" placeholder="Ваше прізвище*" class="">
            </div>
            <div class="field-container">
                <input type="email" name="email" placeholder="Електронна адреса*" class="">
                <input type="hidden" name="username">
            </div>
            <div class="field-container">
                <input type="password" name='password' placeholder="Пароль*" class="">
            </div>
            <div class="field-container">
                <input type="password" name='confirm_password' placeholder="Підтвердити пароль*" class="">
            </div>
            <div class="captcha">
                <div class="field-container">
                    <input type="text" placeholder="Введіть код з картинки*" class="">
                </div>
                <div class="captcha-content">
                    <img src="https://career.softserveinc.com/uk-ua/registration/showCaptcha" alt="" id="Captcha">
                    <a href="" onclick="reload()">Оновити</a>
                </div>
            </div>
            <div class="mb-15">
                <span class="base-checkbox">
                    <input id="checkbox" type="checkbox" class="base-checkbox-input">
                    <label for="checkbox" class="base-checkbox-label">Я погоджуюсь із загальними положеннями, умовами і
                        політикою конфіденційності та надаю дозвіл на отримання повідомлень про події, зустрічі, новини
                        та пропозиції.</label>
                </span>
            </div>
            <div class="registration-form-button">
                <button type="submit" class="btn--main">Створити профіль</button>
            </div>
        </form>
        <div class="t-center">
            <div class="social">
                <div class="have-account">В мене вже є свій кабінет?
                    <a href="../signIn.html">Вхід</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
