.btn--joint {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  color: $btn-color_1;
}

.btn--main {
  @extend .btn--joint;
  background-color: $btn--color-primary_1;
  border: 1px solid $btn--color-primary_1;
  &:hover {
    background-color: $btn--color-primary_1--hover;
    border-color: $btn--color-primary_1--hover;
  }
}

.btn--card {
  @extend .btn--joint;
  background-color: $btn--color-primary_2;
  border: 1px solid transparent;
  &:hover {
    background-color: $btn--color-primary_2--hover;
  }
}
  