.btn--joint {
  display: inline-block;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.4s ease-in-out;
  color: $font--color-primary_3;
}

.btn--main {
  @extend .btn--joint;
  background-color: $bgc--color-primary_3;
  border: 1px solid $bgc--color-primary_3;
  &:hover {
    background-color: $bgc--color-primary_1;
    border-color: $bgc--color-primary_1;
  }
}

.btn--card {
  @extend .btn--joint;
  background-color: $bgc--color-primary_7;
  border: 1px solid transparent;
  &:hover {
    background-color: rgba(0,0,0,0.4);
  }
}
  