// Background colors
$bgc--color-primary_1: #1d55c4;
$bgc--color-primary_2: #494d55;
$bgc--color-primary_3: #3eddf7;
$bgc--color-primary_4: #f8a27c;
$bgc--color-primary_5: #c4371d;
$bgc--color-primary_6: #f5f5f5;
$bgc--color-primary_7: rgba(0,0,0,0.2);
$bgc--color-primary_8: #2f3136;
$bgc--color-primary_9: #a2a6af;
$bgc--color-primary_10: rgba(73, 77, 85, 0.9);




// Text colors

$font--color-primary_1: #494d55;
$font--color-primary_2: #3eddf7;
$font--color-primary_3: #fff;
$font--color-primary_4: #a2a6af;
$font--color-primary_5: #929292;
$font--color-primary_6: #6e6e6e;
$font--color-primary_7: #333;
$font--color-primary_8:#34c3da;
$font-color-primary-hover: #494d55;
$font-color-primary-hover2: rgb(160, 160, 167);
$font-color-primary-hover3: #3f4041;
$font-color-primary-hover4: #a72219;
$font-color-primary-visited: #a2a6af;

// Button colors

$btn--color-primary_1: #3eddf7;
$btn--color-primary_active: #d6eff3;
$btn--color-primary_1--hover: #1d55c4;

$btn--color-primary_2: rgba(0,0,0,0.2);
$btn--color-primary_2--hover: rgba(0,0,0,0.4);

$btn-color_1: #fff;

$btn--color-primary_3: #494d55;
$btn--color-primary_3--hover: #494d55;

// Border colors

$border--color-primary_1:#e3e3e3;
$border--color-primary_2:#e0e3ea;