// Background colors
$bgc--color-primary_1: #013056;
$bgc--color-primary_2: #1b7fd0;

// Text colors

$font--color-primary_1: #1b7fd0;
$font--color-primary_2: #000;

// Button colors

$btn--color-primary_1: #dd0000;
$btn--color-primary_1--hover: #a40000;

$btn--color-primary_2: #1b7fd0;
$btn--color-primary_2--hover: #caddea;

// Standart collors
$standart--color__1: #fff;




